<launch>
  <arg name="model" default="$(find chimera_description)/y2023_urdf/robot.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find chimera_gazebo)/worlds/chimera.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <!-- load controllers for actually controlling stuff -->

    <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find chimera_control)/config/chimera_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/chimera" args="joint_state_controller
					  left_front_angle_position_controller left_front_drive_velocity_controller
            left_back_angle_position_controller left_back_drive_velocity_controller
            right_front_angle_position_controller right_front_drive_velocity_controller
            right_back_angle_position_controller right_back_drive_velocity_controller "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" ns="/chimera">
  </node>

</launch>