#!/usr/bin/env python
PACKAGE = "elevator_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("arb_feed_forward_up_high", double_t, 0, "Arb feedforward up high",                          0, -1,   1)
gen.add("arb_feed_forward_up_low", double_t, 0, "Arb feedforward up low",                          0, -1,   1)
gen.add("arb_feed_forward_down", double_t, 0, "Arb feedforward down",                      0, -1,   1)
gen.add("elevator_zeroing_percent_output", double_t, 0, "Elevator Zeroing Percent Output", 0, -1,   0)
gen.add("elevator_zeroing_timeout", double_t, 0, "Elevator Zeroing Timeout",               0,  0,  20)
gen.add("motion_s_curve_strength",int_t, 0, "S Curve Strength",                         0,  0,   8)
gen.add("stage_2_height",double_t, 0,"Stage 2 Height",                                   0.8,0.0, 2.0) 
gen.add("motion_magic_velocity_fast", double_t, 0, "Fast Motion Magic Velocity",			0, 0, 10)
gen.add("motion_magic_velocity_slow", double_t, 0, "Slow Motion Magic Velocity",			0, 0, 10)
gen.add("motion_magic_acceleration_fast", double_t, 0, "Fast Motion Magic Acceleration",			0, 0, 10)
gen.add("motion_magic_acceleration_slow", double_t, 0, "Slow Motion Magic Acceleration",			0, 0, 10)

exit(gen.generate(PACKAGE, "elevator_controller", "Elevator"))
