<launch>
	<group ns="frcrobot_jetson">
		<rosparam file="$(find ros_control_boilerplate)/config/2023_compbot_base_jetson.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_swerve_drive_phoenix6.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_compbot_swerve_cancoder_hw.yaml" command="load" if="$(eval arg('hw_or_sim') == 'hw')"/>
		<rosparam file="$(find ros_control_boilerplate)/config/swerve_cancoder_sim.yaml" command="load" unless="$(eval arg('hw_or_sim') == 'hw')"/>
		<rosparam file="$(find ros_control_boilerplate)/config/robot_code_ready_controller_jetson.yaml" command="load"/>
    </group>

    <node name="wpilib_swerve_node" pkg="wpilib_swerve_odom" type="node" output="screen"/>
    <!-- launch wpilib swerve node -->
</launch>