<?xml version="1.0"?>
<launch>

	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args " />


	<group ns="frcrobot_jetson">
		<rosparam file="$(find ros_control_boilerplate)/config/2023_swerve_drive_phoenix6.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/sim_interface_offsets.yaml" command="load"/>

		<!-- Load hardware interface -->
		<node name="swervebot" pkg="talon_swerve_drive_controller" type="swervebot"
			output="screen" launch-prefix="$(arg launch_prefix)">
		</node>

	</group>

</launch>
