<?xml version="1.0"?>
<launch>
	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

	<arg name="hw_or_sim" default="hw" />


    <include file="$(find ros_control_boilerplate)/launch/robot_in_a_box_jetson.launch" pass_all_args="true"/>
    <!-- RIO Nodes -->
	<group if="$(eval arg('hw_or_sim')=='hw')">
		<machine name="roboRIO" address="10.9.0.2" env-loader="/home/admin/2019Offseason/zebROS_ws/ROSJetsonMaster.sh" user="admin" password="admin" default="true"/>
	</group>

    <include file="$(find ros_control_boilerplate)/launch/robot_in_a_box_rio.launch" pass_all_args="true"/>

</launch>
