<?xml version="1.0"?>
<launch>
	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

	<arg name="hw_or_sim" default="hw" />

	<group ns="frcrobot_jetson">

		<!-- Load controller settings -->
		<rosparam file="$(find ros_control_boilerplate)/config/talonfxpro_jetson.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/robot_code_ready_controller_jetson.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_elevator_params.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_four_bar_phoenix6_params.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_swerve_drive.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_compbot_offsets.yaml" command="load"/>

		<!-- Load hardware interface -->
		<node name="frcrobot_jetson_$(arg hw_or_sim)_interface" pkg="ros_control_boilerplate" type="frcrobot_$(arg hw_or_sim)_main"
			output="screen" launch-prefix="$(arg launch_prefix)">
		</node>

		<!-- Load controller manager -->
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
			output="screen" args="spawn
				talon_state_controller
				talon_config_controller
				talonfxpro_state_controller
				talonfxpro_config_controller
				joint_state_controller
				joint_state_listener_controller
				latency_compensation_state_controller
				match_state_listener_controller
				talonfxpro1_motionmagicvoltage_controller
				pigeon2_imu_state_controller
				robot_code_ready_controller"
			/>
			<!--
				talonfxpro2_motionmagicvoltage_controller
				solenoid_controller
				double_solenoid_controller
				ph_double_solenoid_controller
				ph_solenoid_controller
				pdp_state_controller
				pcm_state_controller
				candle_controller
				talonfxpro_motionmagicvoltage_controller
				pigeon2_state_controller
				pigeon2_imu_state_controller
				pigeon2_controller
				pdh_state_controller
				pdp_state_controller
				pcm_state_controller
				ph_state_controller
				talonfxpro1_controller
				talonfxpro2_controller
				four_bar_controller_2023
				swerve_drive_controller
				-->

	</group>

</launch>
