<?xml version="1.0"?>
<!-- Launches all sensor nodes and necessary but non-RIO hardware nodes (joystick, actionlib servers, etc) on Jetson, 
    and launches RIO hardware nodes on RIO -->
<launch>
    <!-- Jetson Nodes -->
    <include file="$(find behaviors)/launch/jetson_sensor_nodes.launch" pass_all_args="true"/>
    <include file="$(find behaviors)/launch/jetson_hardware_nodes.launch" pass_all_args="true"/>

    <!-- RIO Nodes -->
    <machine name="roboRIO" address="10.9.0.2" env-loader="/home/admin/2019Offseason/zebROS_ws/ROSJetsonMaster.sh" user="admin" password="admin" default="true"/>
    <include file="$(find behaviors)/launch/rio_hardware_nodes.launch" pass_all_args="true"/>

    <!-- If you want to include a second Jetson, create a new launch file for it and uncomment these lines: -->
    <!-- Jetson 2 Nodes -->
    <!-- <machine name="jetson_2" address="10.9.0.9" env-loader="/home/ubuntu/2019Offseason/zebROS_ws/ROSJetsonMaster.sh" user="ubuntu" password="ubuntu" default="true"/>
    <include file="$(find behaviors)/launch/jetson2_sensor_nodes.launch"/> -->

</launch>
