<?xml version="1.0"?>
<!-- Launches all necessary hardware nodes on one machine (laptop or roboRIO) -->
<launch>
    <!-- GDB functionality -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

    <arg name="hw_or_sim" default="hw" />
    <arg name="static_map" default="True"/>


    <include file="$(find behaviors)/launch/jetson_hardware_nodes.launch" pass_all_args="true"/>
    <include file="$(find behaviors)/launch/rio_hardware_nodes.launch" pass_all_args="true"/>
</launch>
