four_bar_controller_2023:
    type: four_bar_controller_2023/FourBarController_2023

    four_bar_joint: [ 'four_bar' ]
    dynamic_reconfigure: True
    min_angle: 0.0 # for sure. this is slightly less than vertical (it's where the limit switch hits)
    max_angle: 4.8 # measured

    # don't even care about lenghts because we are using angles

    # 0.11-0.12 worked well for holding max extension
    arb_feed_forward_angle: -0.10 # possibly -0.08 but we have gone back and forth
    straight_up_angle: 0.537 

    motion_magic_velocity: 4.0
    motion_magic_acceleration: 6.0 # was 10.0

    # How quickly the four bar moves down when zeroing itself
    four_bar_zeroing_percent_output: 0.0 # TODO : tune me

    # If there are no negative velocity readings while zeroing
    # for this amount of time, assume the four bar is stuck
    # or has hit bottom and the limit switch is broken.  Stop
    # trying to drive down to prevent killing the motor
    four_bar_zeroing_timeout:  2.0
    motion_s_curve_strength: 8
    four_bar:
        type: talon_controllers/TalonControllerInterface 
        joint: four_bar
        close_loop_values:
            - {p: 0.1, i: 0.0002, d: 0.0, f: 0.0755, i_zone: 500, closed_loop_peak_output: 1.0, max_integral_accumulator: 0.05}

        invert_output: True
        sensor_phase: True
        
        neutral_mode: Brake

        feedback_type: IntegratedSensor

        limit_switch_local_reverse_source: "FeedbackConnector"
        limit_switch_local_reverse_normal: "NormallyOpen"

        # TODO : figure out what value this should be
        # Only need one direction, to
        # prevent the elevator from running off the top
        softlimit_forward_threshold: 1.5 #1.66755
        softlimit_forward_enable: False

        voltage_compensation_enable: True
        voltage_compensation_saturation: 12
        
        conversion_factor: 0.074906367 # set from chad
        neutral_deadband: 0.01 # set to be higher

        dynamic_reconfigure: True
        motion_s_curve_strength: 8