four_bar_controller_2023:
    type: four_bar_controller_2023/FourBarController_2023

    four_bar_joint: [ 'four_bar' ]
    max_extension: 0.65 # tbd, in meters
    min_extension: 0.24 # tbd, in meters

    parallel_bar_length: 0.205
    diagonal_bar_length: 0.355
    intake_length: 0.065
    
    # 0.11-0.12 worked well for holding max extension
    arb_feed_forward_maximum: 0.05
    arb_feed_forward_angle: 0.04

    motion_magic_velocity: 0.5
    motion_magic_acceleration: 0.5

    # not sure if this needs to be here and below
    motion_s_curve_strength: 0 

    # How quickly the four bar moves down when zeroing itself
    four_bar_zeroing_percent_output: -0.05 # TODO : tune me

    # If there are no negative velocity readings while zeroing
    # for this amount of time, assume the four bar is stuck
    # or has hit bottom and the limit switch is broken.  Stop
    # trying to drive down to prevent killing the motor
    four_bar_zeroing_timeout:  2.0

    four_bar:
        type: talon_controllers/TalonControllerInterface 
        joint: four_bar
        close_loop_values:
            - {p: 1.0, i: 0.00001, d: 0.0, f: 0.0, i_zone: 0, closed_loop_peak_output: 1.0}
            - {p: 0.25, i: 0.0, d: 0, f: 0.58, i_zone: 4096, closed_loop_peak_output: 1.0}

        invert_output: True
        sensor_phase: True
        
        neutral_mode: Brake

        feedback_type: IntegratedSensor

        limit_switch_local_reverse_source: "FeedbackConnector"
        limit_switch_local_reverse_normal: "NormallyOpen"

        # TODO : figure out what value this should be
        # Only need one direction, to
        # prevent the elevator from running off the top
        softlimit_forward_threshold: 1.5 #1.66755
        softlimit_forward_enable: False

        voltage_compensation_enable: True
        voltage_compensation_saturation: 12
        
        conversion_factor: 0.086021505 # should be 12:62 * 24:54 since that's the gear ratio for the prototype
        neutral_deadband: 0.001

        dynamic_reconfigure: False
        motion_s_curve_strength: 0