swerve_drive_controller:
    type: talon_swerve_drive_controller/TalonFXProSwerveDriveController

    speed: ['speed_joint_fl', 'speed_joint_fr', 'speed_joint_bl', 'speed_joint_br']
    steering: ['steering_joint_fl', 'steering_joint_fr', 'steering_joint_bl', 'steering_joint_br']
    publish_cmd: True
    publish_odometry_to_base_transform: True
    pose_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]
    twist_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]

    wheel_radius: 0.050 # m
    cmd_vel_timout: 0.5
    max_speed: 7 # Potentially raise, otherwise swerve math will limit max motor speed

    # TODO : multiplied ctre5 values by 12v/ 100% output as a guess, need to verify
    # This would be a good guess, except we're using % duty cycle, not voltage out
    # f_s is static feedfoward - the is the min motor output used by
    # the speed motors to overcome static friction
    
    f_s: 0.019
    # Small amount of power given to motors to get the swerve to coast to a 
    # stop rather than snapping on brake mode immediately
    stopping_ff: 0.019

    # TODO - currently not used, but perhaps map to kV / kA values 
    # passed to the motor controller
    f_a: 0.005
    f_v: 0.0379

    # TODO : move this into sensor_to_mechanism_ratio for Falcons
    ratio_encoder_to_rotations: 0.148148148 # Test me, will show up in odom results

    encoder_drive_get_V_units: 1
    encoder_drive_set_V_units: 1
    encoder_drive_get_P_units: 1
    encoder_drive_set_P_units: 1
    encoder_steering_get_units: 1
    encoder_steering_set_units: 1

    wheel_coords: [[-0.250825, 0.250825], [0.250825, 0.250825], [-0.250825, -0.250825], [0.250825, -0.250825]]
    parking_config_time_delay: 0.75
    drive_speed_time_delay: 0.125
    cmd_vel_timeout: 0.5 # we test this separately, give plenty for the other tests
    use_cos_scaling: True # scale motor speed by how close angle motors are to setpoints
    speed_joint_fl:
        joint: fl_drive
        close_loop_values:
            - {kP: 1.00, kI: 0.0, kD: 0.0, kV: 0.125, kS: 0.0}
        #current_limit_continuous_amps: 15
        #current_limit_peak_amps: 25
        #current_limit_peak_msec: 50
        #current_limit_enable: True
        voltage_closed_loop_ramp_period: 0.25
        dynamic_reconfigure: True
        neutral_mode: Brake
        forward_limit_enable: False
        reverse_limit_enable: False
    speed_joint_fr:
        joint: fr_drive
        close_loop_values:
            - {kP: 1.00, kI: 0.0, kD: 0.0, kV: 0.125, kS: 0.0}
        #current_limit_continuous_amps: 15
        #current_limit_peak_amps: 25
        #current_limit_peak_msec: 50
        #current_limit_enable: True
        voltage_closed_loop_ramp_period: 0.25
        dynamic_reconfigure: True
        neutral_mode: "Brake"
        forward_limit_enable: False
        reverse_limit_enable: False
    speed_joint_bl:
        joint: bl_drive
        close_loop_values:
            - {kP: 1.00, kI: 0.0, kD: 0.0, kV: 0.125, kS: 0.0}
        #feedback_type: IntegratedSensor
        #current_limit_continuous_amps: 15
        #current_limit_peak_amps: 25
        #current_limit_peak_msec: 50
        #current_limit_enable: True
        voltage_closed_loop_ramp_period: 0.25
        dynamic_reconfigure: True
        neutral_mode: "Brake"
        forward_limit_enable: False
        reverse_limit_enable: False
    speed_joint_br:
        joint: br_drive
        close_loop_values:
            - {kP: 1.00, kI: 0.0, kD: 0.0, kV: 0.125, kS: 0.0}
        #feedback_type: IntegratedSensor
        #current_limit_continuous_amps: 15
        #current_limit_peak_amps: 25
        #current_limit_peak_msec: 50
        #current_limit_enable: True
        voltage_closed_loop_ramp_period: 0.25
        dynamic_reconfigure: True
        neutral_mode: "Brake"
        forward_limit_enable: False
        reverse_limit_enable: False
    steering_joint_fl:
        joint: fl_angle
        feedback_sensor_source: RemoteCANCoder
        feedback_remote_sensor_id: 11
        close_loop_values:
            - {kP: 80, kI: 0.000, kD: 0.0, kV: 2.85, kS: 0}
        invert: clockwise_positive
        motion_magic_cruise_velocity: 35.0
        motion_magic_acceleration: 300.0
        motion_magic_jerk: 1200.0
        forward_limit_enable: False
        reverse_limit_enable: False
        dynamic_reconfigure: True
    steering_joint_fr:
        joint: fr_angle
        feedback_sensor_source: RemoteCANCoder
        remote_feedback_device_id0: 12
        close_loop_values:
            - {kP: 80, kI: 0.000, kD: 0.0, kV: 2.85, kS: 0}
        invert: clockwise_positive
        motion_magic_cruise_velocity: 35.0
        motion_magic_acceleration: 300.0
        motion_magic_jerk: 1200.0
        forward_limit_enable: False
        reverse_limit_enable: False
        dynamic_reconfigure: True
    steering_joint_br:
        joint: br_angle
        feedback_sensor_source: RemoteCANCoder
        remote_feedback_device_id0: 14
        close_loop_values:
            - {kP: 80, kI: 0.000, kD: 0.0, kV: 2.85, kS: 0}
        invert: clockwise_positive
        motion_magic_cruise_velocity: 35.0
        motion_magic_acceleration: 300.0
        motion_magic_jerk: 1200.0
        forward_limit_enable: False
        reverse_limit_enable: False
        dynamic_reconfigure: True
    steering_joint_bl:
        joint: bl_angle
        feedback_sensor_source: RemoteCANCoder
        remote_feedback_device_id0: 13
        close_loop_values:
            - {kP: 80, kI: 0.000, kD: 0.0, kV: 2.85, kS: 0}
        invert: clockwise_positive
        motion_magic_cruise_velocity: 35.0
        motion_magic_acceleration: 300.0
        motion_magic_jerk: 1200.0
        forward_limit_enable: False
        reverse_limit_enable: False
        dynamic_reconfigure: True

# Stand-alone controller used to tune PID constants
swerve_angle_phoenix6_controller:
    type: talonfxpro_controllers/TalonFXProMotionMagicVoltageController
    joint: bl_angle
    feedback_sensor_source: RemoteCANCoder
    remote_feedback_device_id0: 13
    close_loop_values:
        - {kP: 80, kI: 0.000, kD: 0.0, kV: 2.85, kS: 0}
    invert: clockwise_positive
    motion_magic_cruise_velocity: 5.0
    motion_magic_acceleration: 50.0
    motion_magic_jerk: 350.0
    forward_limit_enable: False
    reverse_limit_enable: False
    dynamic_reconfigure: True