#Config file for configuring autonomous modes and actions

# MODES ---------------------------------------------------------------------------
# arrays of actions (see below) that will be executed in order
# format: auto_mode_[integer]: array

#auto_mode_1: ["shoot", "start_intaking", "cmd_vel_1", "pause_cmd_vel", "stop_intaking", "cmd_vel_1_reverse", "cmd_vel_3", "pause_short", "shoot"]
#auto_mode_2: ["shoot", "start_intaking", "cmd_vel_2", "pause_cmd_vel", "stop_intaking", "cmd_vel_2_reverse", "cmd_vel_3", "pause_short", "shoot"]

# auto_mode_1: ["shoot", "start_intaking", "cmd_vel_1", "pause_cmd_vel", "stop_intaking", "cmd_vel_1_reverse", "cmd_vel_3", "pause_short", "shoot"]
#

#auto_mode_21: ["shoot", "start_intaking", "cmd_vel_21", "pause_3_sec", "stop_intaking", "cmd_vel_21_reverse", "cmd_vel_3", "pause_short", "shoot"]
# new auto below
# auto_mode_2: ["shoot", "start_intaking", "cmd_vel_21", "cmd_vel_4_forward", "pause_1_sec", "cmd_vel_5_forward", "cmd_vel_5_reverse", "cmd_vel_4_reverse", "stop_intaking", "cmd_vel_21_reverse", "cmd_vel_3", "pause_short", "shoot"]
# actual auto: auto_mode_2: ["shoot", "start_intaking", "cmd_vel_21", "cmd_vel_4_forward", "pause_2_sec", "cmd_vel_4_reverse", "stop_intaking", "cmd_vel_21_reverse", "cmd_vel_3", "pause_short", "shoot"]
#auto_mode_1: ["shoot", "start_intaking", "pause_2_sec", "stop_intaking"]
# auto_moe_2: ["shoot", "start_intaking", "path_for_balls_left_hub", "stop_intaking", "shoot", "drive_forward"]
# auto_moe_2: ["shoot", "start_intaking", "path_for_balls_right_hub", "stop_intaking", "shoot", "drive_forward"]

auto_mode_1: ["mini_drive_test_with_rotation"]
auto_mode_2: ["mini_drive_test"]
auto_mode_3: ["test_orientation"]

# Examples
#auto_mode_1: ["tuning"]
#auto_mode_2: ["map_relative_barrel_racing_path"]
#auto_mode_3: ["map_relative_bounce_path"]
#auto_mode_4: ["map_relative_slalom_path"]
#auto_mode_5: ["dynamic_path"]
#auto_mode_6: ["game_piece_pickup_path"]

#auto_mode_1: ["start_intaking", "path_to_trench_face_goal", "stop_intaking", "shoot", "pause_2_sec"] #example
#auto_mode_2: ["pause_2_sec","pause_5_sec"]
#auto_mode_3: ["drive_back", "path_to_trench_after_drive_back"]
#auto_mode_4: ["drive_back", "shoot", "path_to_trench_after_drive_back"]
#auto_mode_5: ["drive_test_angle", "start_intaking", "drive_forward", "stop_intaking"]
#auto_mode_6: ["drive_path_test_1"]

# ACTIONS ------------------------------------------------------------------------
# must have a value for "type", other stuff varies
#valid action types: "intake_actionlib_server", "pause", "elevator_actionlib_server"
ros_rate: 10 # in ms, used for all ros rate calls

cmd_vel_1:
    type: cmd_vel
    duration: 2.75
    cmd_vel:
        x: 1.0 #1.0
        y: -0.4 # -0.4
        z: 0.0
cmd_vel_1_reverse:
    type: cmd_vel
    duration: 2.65
    cmd_vel:
        x: -1.05
        y: 0.4
        z: 0.0

cmd_vel_2:
    type: cmd_vel
    duration: 2.75
    cmd_vel:
        x: 1.0
        y: 0.4
        z: 0.0
cmd_vel_2_reverse:
    type: cmd_vel
    duration: 2.65
    cmd_vel:
        x: -1.05
        y: -0.42
        z: 0.0

cmd_vel_21:
    type: cmd_vel
    duration: 1.9
    cmd_vel:
        x: 1.0
        y: -0.3
        z: -0.54
        
cmd_vel_21_reverse:
    type: cmd_vel
    duration: 1.9
    cmd_vel:
        x: -1.0
        y: 0.3
        z: 0.54

cmd_vel_3:
    type: cmd_vel
    duration: 0.5
    cmd_vel:
        x: -0.35
        y: 0.0
        z: 0.0

cmd_vel_4_reverse:
    type: cmd_vel
    duration: 1.0
    cmd_vel:
        x: -1.35
        y: 0.0
        z: 0.0
cmd_vel_4_forward:
    type: cmd_vel
    duration: 1.0
    cmd_vel:
        x: 1.3
        y: 0.0
        z: 0.0

# cmd_vel_5_reverse:
#     type: cmd_vel
#     duration: 0.5
#     cmd_vel:
#         x: -1.3
#         y: 0.0
#         z: 0.0
# cmd_vel_5_forward:
#     type: cmd_vel
#     duration: 0.5
#     cmd_vel:
#         x: 1.3
#         y: 0.0
#         z: 0.0

tuning:
  type: "path"
  goal:
    apply_offset: false
    points:
      - [1.5, 0.0, 0.0]
      - [2.5, 1.0, 0.0]
      - [5.5, 1.0, 0.0]
      - [9.0, 0.0, 0.0]
    path_offset_limit:
      - {min_x: -1, max_x: 1, min_y: 0, max_y: 5}
      - {min_x: -3, max_x: 3, min_y: 0, max_y: 5}
      - {min_x: -1, max_x: 1, min_y: 0, max_y: 5}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
        #frame_id: "map"

test_orientation:
  type: "path"
  goal:
    apply_offset: false
    points:
      - [1.0, 0.0, 0.0]
      - [1.5, 1.0, 1.5]
      - [2.0, 1.0, 1.5]

map_relative_barrel_racing_path:
  type: "path"
  goal:
    apply_offset: false
    points:
      - [4.75, 2.29, 0.0] #1
      - [4.75, 1.00, 0.0] #2
      - [3.21, 1.00, 0.0] #3
      - [2.85, 2.29, 0.0] #4
      - [5.50, 2.29, 0.0] #5
      - [7.00, 2.75, 0.0] #6
      - [7.00, 3.75, 0.0] #7
      - [5.50, 3.75, 0.0] #8
      - [5.25, 3.05, 0.0] #9
      - [7.75, 0.75, 0.0] #10
      - [8.25, 0.75, 0.0] #11
      - [8.35, 2.29, 0.0] #12
      - [6.20, 2.29, 0.0] #13
      - [0.76, 2.29, 0.0] #14
    path_offset_limit:
      - {min_x: -0.45, max_x: 0, min_y: 0, max_y: 0}  #1
      - {min_x: -1, max_x: 1, min_y: -2, max_y: 1}  #2
      - {min_x: -2, max_x: 1, min_y: -2, max_y: 2}  #3
      - {min_x: -1, max_x: 1, min_y: -1, max_y: 1}  #4
      - {min_x: -1, max_x: 1, min_y: -1, max_y: 1}  #5
      - {min_x: -0.5, max_x: 1, min_y: -1, max_y: 0}  #6
      - {min_x: 0 , max_x: 1, min_y: -0.5, max_y: 1}  #7
      - {min_x: -1, max_x: 0, min_y: -0.5, max_y: 1}  #8
      - {min_x: -1, max_x: 1, min_y: -2, max_y: 1}  #9
      - {min_x: -2, max_x: 1, min_y: -1, max_y: 1}  #10
      - {min_x: -1, max_x: 1, min_y: -1, max_y: 1}  #11
      - {min_x:  0, max_x: 1, min_y:  0, max_y: 1}  #12
      - {min_x: -1, max_x: 1, min_y: -1, max_y: 1}  #13
      - {min_x:  0, max_x: 0, min_y:  0, max_y: 0}  #14
    frame_id: "map"

map_relative_bounce_path:
  type: "path"
  goal:
    apply_offset: false
    points:
      - [ 2.198, 2.566, 0.0 ]
      - [ 2.198, 3.550, 0.0 ]
      - [ 2.433, 3.550, 0.0 ]
      - [ 2.320, 3.300, 0.0 ] # Mid point of top triangle and starting blocks
      - [ 2.250, 2.570, 0.0 ]
      - [ 2.550, 2.300, 0.5 ]
      - [ 2.820, 1.930, 0.5 ]
      - [ 3.169, 1.219, 0.0 ]
      - [ 4.352, 0.863, 0.0 ]
      - [ 4.470, 3.550, 0.0 ]
      - [ 4.648, 3.550, 0.0 ]
      - [ 4.698, 0.945, 0.0 ]
      - [ 6.754, 0.945, 0.0 ]
      - [ 6.750, 3.550, 0.0 ]
      - [ 6.900, 3.550, 0.0 ]
      - [ 7.100, 2.540, 0.0 ]
      - [ 9.000, 2.286, 0.0 ]
    frame_id: "map"
    optimize_final_velocity: true

map_relative_slalom_path:
  type: "path"
  goal:
    apply_offset: false
    points:
      - [2.20, 0.76, 0.0]
      - [2.40, 2.29, 0.0]
      - [3.04, 2.29, 0.0]
      - [6.80, 2.29, 0.0]
      - [6.96, 0.56, 0.0]
      - [8.75, 0.56, 0.0]
      - [8.75, 2.29, 0.0]
      - [6.96, 2.29, 0.0]
      - [6.70, 0.56, 0.0]
      - [2.29, 0.56, 0.0]
      - [2.29, 2.09, 0.0]
      - [0.76, 2.29, 0.0]
    frame_id: "map"
    optimize_final_velocity: true
    path_offset_limit:
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 1.0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 1.0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 1.0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 1.0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}

galactic_search_path:
  drive_path_test_1

#examples:

start_intaking:
    type: "intaking_actionlib_server"
    goal:
        "start"

stop_intaking:
    type: "intaking_actionlib_server"
    goal:
        "stop"

shoot:
    type: "shooting_actionlib_server"
    goal:
        ""
        
drive_back:
    type: "path"
    goal:
        apply_offset: false
        points:
            - [-0.7, 0.0, 0.0] # move back length of robot


path_to_trench_from_starting:
    type: "path"
    goal:
        apply_offset: true
        points:
            - [-3.0, -1.69938, 0.0] #from starting position to in front of the trench
            - [-4.2, -1.69938, 0.0] #drive toward the trench distance of 2 balls

path_to_trench_after_drive_back:
    type: "path"
    goal:
        apply_offset: true
        points:
            - [-2.3, -1.69938, 0.0]
            - [-3.5, -1.69938, 0.0]

pause_short:
    type: "pause"
    duration: 0.8 #sec

pause_cmd_vel:
    type: "pause"
    duration: 1.5 #sec

pause_1_sec:
    type: "pause"
    duration: 1.0 #sec

pause_2_sec:
    type: "pause"
    duration: 2.0 #sec

pause_3_sec:
    type: "pause"
    duration: 3.0 #sec

pause_5_sec:
    type: "pause"
    duration: 5.0

drive_test_angle:
    type: "path"
    goal:
        apply_offset: false
        points:
            - [1.0, -1.0, 0.0]
            - [2.0, 0.0, 0.0]

drive_forward:
    type: "path"
    goal:
        apply_offset: false
        points:
            - [2.0, 0.0, 0.0]


drive_path_test_1:
  type: "path"
  goal:
    apply_offset: false
    points:
      - [1.0, 0.0, 0.0]
      - [2.0, 3.0, 0.0]
      - [1.0, 4.0, 0.0]
    frame_id: ""
    point_frame_id: []
    path_offset_limit:
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
    optimize_final_velocity: true

mini_drive_test:
  type: "path"
  goal:
    apply_offset: false
    points:
      - [1.0, 1.0, 0.0]
      - [2.0, -1.0, 0.0]
      - [3.0, 0.0, 0.0]
    frame_id: ""
    point_frame_id: []
    path_offset_limit:
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
    optimize_final_velocity: true

mini_drive_test_with_rotation:
  type: "path"
  goal:
    apply_offset: false
    points:
      - [1.0, 1.0, 0.0]
      - [2.0, 2.0, 0.78539816339]
      - [3.0, 3.0, 0.0]
    frame_id: ""
    point_frame_id: []
    path_offset_limit:
      - {min_x: 0, max_x: 0, min_y: 0, max_y: 0}
    optimize_final_velocity: false