#Config file for configuring autonomous modes and actions

# MODES ---------------------------------------------------------------------------

# ALLIANCE will be replaced with whatever alliance we are "red" or "blue"



auto_mode_1: ["shoot_center_subwoofer", "start_intake", "four_note_source1_ALLIANCE_csv", "pause_half", "relocalize",  
              "four_note_source2_ALLIANCE_csv", "pause_half", "relocalize", "shoot_inline_subwoofer", "start_intake",
              "four_note_source3_ALLIANCE_csv", "pause_half", "relocalize", "shoot_diagonal", "start_intake", # not actually diagonal but far
              "four_note_source4_ALLIANCE_csv", "pause_two", "relocalize",
              "four_note_source5_ALLIANCE_csv", "pause_two", 
              "stop_intake", "shoot_diagonal"]

auto_mode_2: ["four_note_source1_ALLIANCE_csv", "pause_half", 
              "four_note_source2_ALLIANCE_csv", "pause_half", 
              "four_note_source3_ALLIANCE_csv", "pause_half", 
              "four_note_source4_ALLIANCE_csv", 
              "four_note_source5_ALLIANCE_csv"]

auto_mode_3: ["four_note_speaker1_ALLIANCE_csv", "pause_half", "relocalize", 
              "four_note_speaker2_ALLIANCE_csv", "pause_half", "relocalize", 
              "four_note_speaker3_ALLIANCE_csv", "pause_half", "relocalize", 
              "four_note_speaker4_ALLIANCE_csv", "pause_half", "relocalize", 
              "four_note_speaker5_ALLIANCE_csv", "pause_half", "relocalize", 
              "four_note_speaker6_ALLIANCE_csv"]

auto_mode_4: ["start_intake", "four_note_speaker1_ALLIANCE_csv", "pause_half", 
              "four_note_speaker2_ALLIANCE_csv", "pause_half", 
              "four_note_speaker3_ALLIANCE_csv", "pause_half", 
              "four_note_speaker4_ALLIANCE_csv", 
              "four_note_speaker5_ALLIANCE_csv", 
              "four_note_speaker6_ALLIANCE_csv",
              "stop_intake"]

auto_mode_5: ["start_intake", "spin_up_shooter", "pause_two", "shoot_center_subwoofer", "pause_two", "shoot_diagonal", "stop_intake", "spin_down_shooter"]
auto_mode_6: ["pause_half"]
auto_mode_7: ["pause_half"]
auto_mode_8: ["pause_half"]
auto_mode_9: ["pause_half"]

#auto_mode_4_blue: ["map_rel_four_note_grid_right1_blue_csv", "pause_half", "relocalize", "map_rel_four_note_grid_right2_blue_csv", "pause_half", "relocalize", "map_rel_four_note_grid_right3_blue_csv", "pause_half", "relocalize", "map_rel_four_note_grid_right4_blue_csv"]
#auto_mode_4_red: ["map_rel_four_note_grid_right1_red_csv", "pause_half", "relocalize", "map_rel_four_note_grid_right2_red_csv", "pause_half", "relocalize", "map_rel_four_note_grid_right3_red_csv", "pause_half", "relocalize", "map_rel_four_note_grid_right4_red_csv"]
#auto_mode_5: ["map_rel_four_note_grid1_csv", "map_rel_four_note_grid2_csv", "map_rel_four_note_grid3_csv", "map_rel_four_note_grid4_csv"]
#auto_mode_6: ["relocalize", "map_rel_four_note_grid1_csv", "relocalize", "map_rel_four_note_grid2_csv", "relocalize", "map_rel_four_note_grid3_csv", "relocalize", "map_rel_four_note_grid4_csv"]

# auto_mode_7_blue: ["map_rel_four_note_grid_right1_blue_csv", "map_rel_four_note_grid_right2_blue_csv", "map_rel_four_note_grid_right3_blue_csv", "map_rel_four_note_grid_right4_blue_csv"]
# auto_mode_7_red: ["map_rel_four_note_grid_right1_red_csv", "map_rel_four_note_grid_right2_red_csv", "map_rel_four_note_grid_right3_red_csv", "map_rel_four_note_grid_right4_red_csv"]
# auto_mode_8: ["align_to_speaker", "map_rel_four_note1_csv", "align_to_speaker", "map_rel_four_note2_csv", "align_to_speaker", "map_rel_four_note3_csv", "align_to_speaker"]
# auto_mode_9: ["align_to_speaker", "relocalize", "map_rel_four_note1_csv", "align_to_speaker", "relocalize", "map_rel_four_note2_csv", "align_to_speaker", "relocalize", "map_rel_four_note3_csv", "align_to_speaker"]

# ACTIONS ------------------------------------------------------------------------
# must have a value for "type", other stuff varies

pause_half:
  type: pause
  duration: 0.5

pause_two:
  type: pause
  duration: 2.0

align_to_speaker:
  type: align_to_speaker

start_intake:
  type: start_intake

stop_intake:
  type: stop_intake

spin_up_shooter: 
  type: spin_up_shooter
  distance: 1.0 # meters

spin_down_shooter:
  type: spin_down_shooter

# right in front
shoot_center_subwoofer:
  type: shoot_distance
  distance: 1.43 # meters

shoot_inline_subwoofer:
  type: shoot_distance
  distance: 2.0 # meters

# on the diagonal left/right 
shoot_diagonal:
  type: shoot_distance
  distance: 2.8 # meters


ros_rate: 10 # in ms, used for all ros rate calls
angle_tolerance: 0.00872665 # 0.5 degrees

relocalize:
    type: "relocalize"
    
snap_180_before_intake:
    type: snap_to_orientation
    angle: 3.14159268 # radians, and i love sig figs

snap_0_before_intake:
    type: snap_to_orientation
    angle: 0.0

cmd_vel_1:
    type: cmd_vel
    duration: 2.75
    cmd_vel:
        x: 1.0 #1.0
        y: -0.4 # -0.4
        z: 0.0
