<?xml version="1.0"?>

<robot name="2021_compbot" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="base_link"/>
    <link name="turret_center"/>
    <joint name="turret_center_joint" type="fixed"> 
        <parent link="base_link"/>
        <child link="turret_center"/>
        <origin xyz="-0.0658 -0.22067 0.4692" rpy="0 0 0" />
    </joint>

    <link name="intake"/>
    <joint name="intake_joint" type="fixed"> 
        <parent link="base_link"/>
        <child link="intake"/>
        <origin xyz="0.6332 0.0 0.0" rpy="0 0 0"/>
    </joint>
</robot>
