<launch>

  <arg name="model" default="$(find turret_2023)/urdf/frcrobot.xacro"/>
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find four_bar_elevator_2023)/rviz/urdf.rviz"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <node name="fake_sensors_node" pkg="fake_sensors" type="talon_state_republisher" output="screen"/>
  
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    <param name="source_list" value="talon_joint_states" />
  </node>
  
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="joint_states" to="talon_joint_states" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
