<model name="field" static="true">
    <link name="water_game_link">
        <origin pose="0 0 0 0 0 0"/>
        <collision name="water_game_collision">
            <geometry>
                <mesh filename="package://frcrobot_description/meshes/CrescendoField_full.dae"/>
            </geometry>
        </collision>
        <visual name="water_game_visual" cast_shadows="false">
            <geometry>
                <mesh filename="package://frcrobot_description/meshes/CrescendoField_full.dae"/>
            </geometry>
        </visual>
    </link>
</model>