<?xml version="1.0"?>
<launch>
	<arg name="hw_or_sim" default="hw" />
	<arg name="primary_imu" default="PICO" />
	<arg name="zed_name" default="zed_objdetect" />
	<group if="$(eval arg('hw_or_sim')=='hw')">
		<node if="$(eval arg('primary_imu')=='NAVX')" name="navx_publisher" pkg="navx_publisher" type="navx_publisher_node" output="screen">
			<param name="device" value="/dev/NAVX"/>
		</node>
		<include if="$(eval arg('primary_imu')=='ADI')" file="$(find controller_node)/launch/adis16470.launch">
			<arg name="device" value="/dev/ADI" />
			<arg name="publish_tf" value="false" />
		</include>
		<include if="$(eval arg('primary_imu')=='PICO')" file="$(find controller_node)/launch/adis16470_pico.launch">
			<arg name="device" value="/dev/PICO" />
			<arg name="publish_tf" value="false" />
		</include>
	</group>
	<!-- Assume ZED camera is launched somewhere else -->
	<!-- Pigeon2 will be launched as a hardware interface controller -->
	<node name="imu_zero" pkg="imu_zero" type="imu_zero_node" output="screen">
		<remap if="$(eval arg('primary_imu')=='NAVX')" from="imu/data" to="navx/data" />
		<remap if="$(eval arg('primary_imu')=='ZED')" from="imu/data" to="/$(arg zed_name)/imu/data" />
		<remap if="$(eval arg('primary_imu')=='PIGEON2')" from="imu/data" to="/frcrobot_jetson/pigeon2" />
	</node>
</launch>
