<?xml version="1.0"?>
<!-- Launches both Rio and Jetson code -->
<launch>

	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

	<arg name="hw_or_sim" default="hw" />
	<arg name="joy_or_key" default="joy" />
	
    <!-- Jetson Nodes -->
    <include file="$(find controller_node)/launch/2019_falconbot_jetson.launch" pass_all_args="true">
		<arg name="hw_or_sim" value="$(arg hw_or_sim)" />
		<arg name="joy_or_key" value="$(arg joy_or_key)" />
	</include>

	<group if="$(eval arg('hw_or_sim')=='sim')">
		<include file="$(find controller_node)/launch/joysticks_sim.launch">
			<arg name="joy_or_key" value="$(arg joy_or_key)" />
		</include>
	</group>

    <!-- RIO Nodes -->
	<!-- For hw, run the Rio stuff on the Rio.  
		 For sim, run both it and the jetson sim on the same machine. This 
		 is an awful hack but seems to work? -->
	<group if="$(eval arg('hw_or_sim')=='hw')">
		<machine name="roboRIO" address="10.9.0.2" env-loader="/home/admin/2020RobotCode/zebROS_ws/ROSJetsonMaster.sh" user="admin" password="admin" default="true"/>
	</group>

    <include file="$(find controller_node)/launch/2019_falconbot_rio.launch">
		<arg name="hw_or_sim" value="$(arg hw_or_sim)" />
		<arg name="joy_or_key" value="$(arg joy_or_key)" />
	</include>
	
</launch>
