<?xml version="1.0"?>
<launch>

	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

	<arg name="hw_or_sim" default="hw" />
	<arg name="joy_or_key" default="joy" />
	<arg name="button_box" default="true"/>
	<arg name="record" default="false" />
	<arg name="primary_imu" default="ADI" />

	<include file="$(find controller_node)/launch/ar_zed.launch">
	</include>

</launch>
