<?xml version="1.0"?>
<launch>
	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

	<arg name="hw_or_sim" default="hw" />
	<arg name="joy_or_key" default="joy" />
	<arg name="button_box" default="true"/>
	<arg name="record" default="false" />
	<arg name="primary_imu" default="ADI" />

	<group ns="frcrobot_jetson">
		<rosparam file="$(find ros_control_boilerplate)/config/2022_test_indexer_shooter_jetson.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/robot_code_ready_controller_jetson.yaml" command="load"/>

		<!-- Load hardware interface -->
		<node name="frcrobot_$(arg hw_or_sim)_interface" pkg="ros_control_boilerplate" type="frcrobot_$(arg hw_or_sim)_main"
			output="screen" launch-prefix="$(arg launch_prefix)">
		</node>

		<!-- Load controller manager-->
		<!-- Add 2022 controllers, once we know what they are -->
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
			output="screen" args="spawn joint_state_controller_jetson joint_state_listener_controller talon_state_controller_jetson talon_config_controller match_state_listener_controller shooter_percent_out_controller shooter_follower_controller indexer_straight_controller indexer_arc_controller dynamic_arm_solenoid_controller static_hook_solenoid_controller climber_controller intake_solenoid_controller intake_motor_controller robot_code_ready_controller" />

		<node name="basic_mechanism_test_node" pkg="teleop_joystick_control" type="basic_mechanism_test_node" respawn="false" output="screen" />
	</group>

</launch>
