<?xml version="1.0"?>
<launch>

	<!-- GDB functionality -->
	<arg name="debug" default="false" />

	<arg name="launch_prefix" value="" />

	<arg name="hw_or_sim" default="hw" />
	<arg name="joy_or_key" default="joy" />
	<arg name="button_box" default="true"/>
	<arg name="record" default="false" />
	<arg name="primary_imu" default="ADI" />

	<group ns="frcrobot_jetson">
		<rosparam file="$(find ros_control_boilerplate)/config/2022_compbot_base_jetson.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2022_swerve_drive.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2022_compbot_offsets.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/robot_code_ready_controller_jetson.yaml" command="load"/>

		<!--
		<node name="zero_wheel_service" pkg="talon_swerve_drive_controller" type="zero_wheel_service" output="screen"> </node>
		-->

		<node name="dump_offsets_service" pkg="talon_swerve_drive_controller" type="dump_offsets_service" output="screen"> </node>

		<!-- Load hardware interface -->
		<node name="frcrobot_$(arg hw_or_sim)_interface" pkg="ros_control_boilerplate" type="frcrobot_$(arg hw_or_sim)_main"
			output="screen" launch-prefix="$(arg launch_prefix)">
		</node>

		<!-- Load controller manager-->
		<!-- Add 2022 controllers, once we know what they are -->
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
			output="screen" args="spawn joint_state_controller_jetson joint_state_listener_controller talon_state_controller_jetson talon_config_controller match_state_listener_controller swerve_drive_controller shooter_controller shooter_follower_controller dynamic_arm_solenoid_controller static_hook_solenoid_controller intake_controller indexer_straight_motor_controller indexer_arc_motor_controller dynamic_arm_controller robot_code_ready_controller" />

		<node name="uptime_jetson" pkg="uptime" type="uptime_node" output="screen" />

		<include file="$(find cpu_monitor)/launch/cpu_monitor.launch">
			<arg name="poll_period" value="2"/>
		</include>
	</group>

	<group ns="imu">
		<include file="$(find controller_node)/launch/2019_compbot_jetson_imu.launch">
			<arg name="hw_or_sim" value="$(arg hw_or_sim)" />
			<arg name="primary_imu" value="$(arg primary_imu)" />
		</include>
	</group>

	<group ns="robot_state">
		<param name="robot_description" command="$(find xacro)/xacro '$(find controller_node)/urdf/2022_compbot.xacro'" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	</group>

	<group ns="swerve_imu_ukf">
		<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" args="0 0 0 0 0 0 base_link imu" />
	<!--
		<include file="$(find controller_node)/launch/fuse_odom.launch"/>
	-->
	</group>

	<include file="$(find controller_node)/launch/teleop.launch">
		<arg name="year" value="2022" />
	</include>
	<group ns="cmd_vel_mux">
		<node name="twist_mux" pkg="twist_mux" type="twist_mux">
			<rosparam command="load" file="$(find talon_swerve_drive_controller)/config/2022_twist_mux.yaml"/>
			<remap from="cmd_vel_out" to="/frcrobot_jetson/swerve_drive_controller/cmd_vel"/>
		</node>
	</group>

	<!-- 2022 TODO add actionlib servers with namespaces -->
	<!--
	<include file="$(find controller_node)/launch/hold_position.launch"/>
	<include file="$(find controller_node)/launch/path_follower.launch"/>
	-->
	<include file="$(find controller_node)/launch/distance_to_pose.launch"/>
	<include file="$(find behaviors)/launch/auto_node.launch"/>

	<group ns="index">
		<node name="index_server_2022" pkg="behaviors" type="2022_index_server_node" output="screen"/>
		<rosparam command="load" file="$(find behaviors)/config/2022_index_server.yaml"/>
	</group>

	<group ns="shooter">
		<node name="shooter_server_2022" pkg="behaviors" type="2022_shooter_server_node" output="screen"/>
	</group>

	<group ns="intake">
		<node name="intake_server_2022" pkg="behaviors" type="2022_intake_server_node" output="screen"/>
		<rosparam command="load" file="$(find behaviors)/config/2022_intake_config.yaml"/>
	</group>

	<group ns="intaking">
		<node name="intaking_server_2022" pkg="behaviors" type="2022_intaking_server_node" output="screen"/>
	</group>

	<group ns="shooting">
		<node name="shooting_server_2022" pkg="behaviors" type="2022_shooting_server_node" output="screen"/>
	</group>

	<group ns="ejecting">
		<node name="ejecting_server_2022" pkg="behaviors" type="2022_ejecting_server_node" output="screen"/>
	</group>
	<include file="$(find behaviors)/launch/2022_climb.launch"/>

	<include file="$(find controller_node)/launch/2022_terabee.launch" if="$(eval arg('hw_or_sim')=='hw')">
	</include>

	<!-- Run ZED camera + tensorflow object detection -->
	<!--
	<include file="$(find tf_object_detection)/launch/detection.launch" if="$(eval arg('hw_or_sim')=='hw')">
		<arg name="input_type" value="live_camera" />
	</include>
	-->


	<!--
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
		<arg name="port" value="5803"/>
	</include>
	-->

	<!-- Consider adding 2022 launch file for recording -->
	<include file="$(find controller_node)/launch/record_2022_compbot.launch" if="$(arg record)" />
	<!--
	<include file="$(find controller_node)/launch/record_2022_no_zed.launch" if="$(arg record)" />

	<include file="$(find controller_node)/launch/pf_localization.launch"/>
	-->

</launch>
