<?xml version="1.0"?>
<launch>

	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

	<arg name="hw_or_sim" default="hw" />
	<arg name="joy_or_key" default="joy" />
	<arg name="button_box" default="true"/>
	<arg name="record" default="false" />
	<arg name="primary_imu" default="ADI" />
	<include file="$(find controller_node)/launch/record_2023_compbot.launch" if="$(arg record)" />

	<node name="teensy_power_info" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM0 _baud:=115200"/>
	<include file="$(find tf_object_detection)/launch/detection.launch">
		<arg name="input_type" value="live_camera" />
	</include>
	
	<include file="$(find controller_node)/launch/rosbridge_websocket.launch">
		<arg name="port" value="5803"/>

	</include>
</launch>
