<?xml version="1.0"?>
<launch>

	<!-- GDB functionality -->
	<arg name="debug" default="false" />

	<arg name="launch_prefix" value="" />

	<arg name="hw_or_sim" default="hw" />
	<arg name="joy_or_key" default="joy" />
	<arg name="button_box" default="true"/>
	<arg name="record" default="false" />
	<arg name="primary_imu" default="ZED" />

	<group ns="frcrobot_jetson">
		<rosparam file="$(find ros_control_boilerplate)/config/2023_compbot_base_jetson.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_swerve_drive.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_compbot_offsets.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_elevator_params.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_four_bar_params.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/2023_angle_swerve_tuning.yaml" command="load"/>

		<rosparam file="$(find ros_control_boilerplate)/config/robot_code_ready_controller_jetson.yaml" command="load"/>

		<!--
		<node name="zero_wheel_service" pkg="talon_swerve_drive_controller" type="zero_wheel_service" output="screen"> </node>
		-->

		<node name="dump_offsets_service" pkg="talon_swerve_drive_controller" type="dump_offsets_service" output="screen"> </node>

		<!-- Load hardware interface -->
		<node name="frcrobot_$(arg hw_or_sim)_interface" pkg="ros_control_boilerplate" type="frcrobot_$(arg hw_or_sim)_main"
			output="screen" launch-prefix="$(arg launch_prefix)">
		</node>

		<!-- Load controller manager-->
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
			output="screen" args="spawn intake_leader_controller four_bar_controller_2023 elevator_controller_2023 candle_controller swerve_drive_controller joint_state_controller_jetson joint_state_listener_controller talon_state_controller_jetson talon_config_controller match_state_listener_controller orchestra_controller orchestra_state_controller  pigeon2_imu_state_controller robot_code_ready_controller" />
		<!--
			To be added once hw exists
elevator_controller_2023 four_bar_controller_2023 intake_leader_controller
			-->

		<node name="uptime_jetson" pkg="uptime" type="uptime_node" output="screen" />

		<include file="$(find cpu_monitor)/launch/cpu_monitor.launch">
			<arg name="poll_period" value="5"/>
		</include>
	</group>

	<group ns="imu">
		<include file="$(find controller_node)/launch/2019_compbot_jetson_imu.launch">
			<arg name="hw_or_sim" value="$(arg hw_or_sim)" />
			<arg name="primary_imu" value="$(arg primary_imu)" />
		</include>
	</group>

	<group ns="robot_state">
		<param name="robot_description" command="$(find xacro)/xacro '$(find controller_node)/urdf/2023_compbot.xacro'" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	</group>

	<group ns="swerve_imu_ukf">
		<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" args="0 0 0 0 0 0 base_link imu" />
		<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_pigeon2" args="0 0 0 0 0 0 base_link pigeon2_frame" />
	<!--
		<include file="$(find controller_node)/launch/fuse_odom.launch"/>
	-->
	</group>

	<!-- <include file="$(find teleop_joystick_control)/launch/2023_snap_to_angle.launch"/> -->
	<include file="$(find controller_node)/launch/teleop.launch">
		<arg name="year" value="2023" />
	</include>

	<group ns="cmd_vel_mux">
		<node name="twist_mux" pkg="twist_mux" type="twist_mux">
			<rosparam command="load" file="$(find talon_swerve_drive_controller)/config/2023_twist_mux.yaml"/>
			<remap from="cmd_vel_out" to="/frcrobot_jetson/swerve_drive_controller/cmd_vel"/>
		</node>
	</group>
	
	<include file="$(find controller_node)/launch/hold_position.launch"/>
	<include file="$(find controller_node)/launch/path_follower.launch"/>
	
	<include file="$(find controller_node)/launch/distance_to_pose.launch"/>
	<include file="$(find behaviors)/launch/auto_node.launch"/>

	<!-- Add 2023 actionlib servers here -->
	<group ns="intake">
		<node name="intake_server_2023" pkg="behaviors" type="2023_intake_server" output="screen"/>
		<rosparam command="load" file="$(find behaviors)/config/2023_intake_config.yaml"/>
	</group>

	<group ns="placing">
		<node name="placing_server_2023" pkg="behaviors" type="2023_placing_server" output="screen"/>
	</group>

	<include file="$(find behaviors)/launch/2023_fourbar.launch">
	</include>

	<include file="$(find behaviors)/launch/2023_elevator.launch">
	</include>

	<include file="$(find behaviors)/launch/2023_intaking.launch">
	</include>

	<include file="$(find behaviors)/launch/2023_game_piece_state.launch">
	</include>

	<include file="$(find controller_node)/launch/2023_terabee.launch" if="$(eval arg('hw_or_sim')=='hw')">
	</include>
	
	<!-- Run ZED camera + tensorflow object detection -->
	<!--
	<include file="$(find tf_object_detection)/launch/detection.launch" if="$(eval arg('hw_or_sim')=='hw')">
		<arg name="input_type" value="live_camera" />
	</include>
	-->
	<!-- Will advertise /zed_objdetect/left/image_rect_color_throttle -->
	<!--<node name="throttle_zed" pkg="topic_tools" type="throttle"  args="messages /zed_objdetect/left/image_rect_color 4" output="screen"/>-->
	<!-- Consider adding 2023 launch file for recording -->
	
	<!--
	<include file="$(find controller_node)/launch/record_2023_no_zed.launch" if="$(arg record)" />
	-->

	<include file="$(find controller_node)/launch/pf_localization.launch"/>
	

</launch>
