<?xml version="1.0"?>
<launch>
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args " />

	<group ns="frcrobot_jetson">
        <rosparam file="$(find ros_control_boilerplate)/config/2023_compbot_base_jetson_moveit.yaml" command="load" />
        <include file="$(find moveit_launch)/launch/2023_moveit_sim.launch" if="$(eval arg('hw_or_sim')=='sim')" />
		<rosparam file="$(find ros_control_boilerplate)/config/robot_code_ready_controller_jetson.yaml" command="load"/>

		<!-- Load hardware interface -->
		<node name="frcrobot_$(arg hw_or_sim)_interface" pkg="ros_control_boilerplate" type="frcrobot_$(arg hw_or_sim)_main"
			output="screen" launch-prefix="$(arg launch_prefix)">
		</node>

		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
			output="screen" args="spawn
			 joint_state_controller_jetson
			 joint_state_listener_controller_jetson
			 match_state_listener_controller
			 talonfxpro_state_controller
			 talonfxpro_config_controller
			 robot_code_ready_controller" />
			 <!--
			-->
    </group>

	<group ns="robot_state">
		<param name="robot_description" command="$(find xacro)/xacro '$(find controller_node)/urdf/2023_compbot.xacro'" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	</group>

</launch>