<?xml version="1.0"?>
<launch>
	<arg name="hw_or_sim"            default="hw" />
	<arg name="run_camera"           default="true" />
	<arg name="run_apriltag"         default="false" />
	<arg name="run_gpu_apriltag"     default="true" />
	<arg name="run_deeptag"          default="false" />
	<arg name="run_deeptag_node"     default="false" />

	<include file="$(find controller_node)/launch/zed_detection.launch" unless="$(eval hw_or_sim=='sim')">
		<arg name="zed_name"             value="zedx_front" />
		<arg name="zed_config_dir"       value="zedx" />
		<arg name="camera_model"         value="zedx" />
		<arg name="serial_number"	     value="43782465" /> <!-- 47067994 is original comp -->
		<arg name="cam_pos_x"            value="0.395726" />
		<arg name="cam_pos_y"            value="0.231140" /> <!-- MIGHT NEED TO RAISE -->
		<arg name="cam_pos_z"            value="0.248031" />
		<arg name="cam_roll"             value="0.0" />
		<arg name="cam_pitch"            value="0.0" />
		<arg name="cam_yaw"              value="0.0" />
		<arg name="run_camera"           value="$(arg run_camera)" />
		<arg name="run_apriltag"         value="$(arg run_apriltag)" />
		<arg name="run_gpu_apriltag"     value="$(arg run_gpu_apriltag)" />
		<arg name="run_deeptag"          value="$(arg run_deeptag)" />
		<arg name="run_deeptag_node"     value="$(arg run_deeptag_node)" />
		<arg name="run_object_detection" value="true" />
		<arg name="run_nodelet_manager"  value="true" />
		<arg name="nodelet_manager_name" value="zed_nodelet" />
		<arg name="startup_delay"        value="15.0" />
	</include>

	<include file="$(find controller_node)/launch/zed_detection.launch" unless="$(eval hw_or_sim=='sim')">
		<arg name="zed_name"             value="zedx_back" />
		<arg name="zed_config_dir"       value="zedx" />
		<arg name="camera_model"         value="zedx" />
		<arg name="serial_number"	     value="47343454" />
		<arg name="cam_pos_x"            value="-0.289731" />
		<arg name="cam_pos_y"            value="0.0" />
		<arg name="cam_pos_z"            value="0.200852" />
		<arg name="cam_roll"             value="0.0" />
		<arg name="cam_pitch"            value="-0.2617993877991494" />
		<arg name="cam_yaw"              value="3.14159265" />
		<arg name="run_camera"           value="$(arg run_camera)" />
		<arg name="run_apriltag"         value="$(arg run_apriltag)" />
		<arg name="run_gpu_apriltag"     value="$(arg run_gpu_apriltag)" />
		<arg name="run_deeptag"          value="$(arg run_deeptag)" />
		<arg name="run_deeptag_node"     value="$(arg run_deeptag_node)" />
		<arg name="run_object_detection" value="false" />
		<arg name="run_nodelet_manager"  value="false" />
		<arg name="nodelet_manager_name" value="zed_nodelet" />
		<arg name="startup_delay"        value="0.0" />
	</include>

	<include file="$(find tagslam_launch)/launch/2024_compbot_tagslam.launch" unless="$(eval hw_or_sim=='sim')"/>
</launch>
