<?xml version="1.0"?>
<!-- Launches both Rio and Jetson code -->
<launch>

	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg name="launch_prefix" default="" />

	<arg name="hw_or_sim" default="hw" />
	<arg name="sim_joystick" default="true" />
	<arg name="sim_button_box" default="true"/>
	<arg name="joy1_device" default="/dev/input/js0" />
	<arg name="button_box_device" default="/dev/input/js1" />
	<arg name="stage_sim" default="false"/>
	<arg name="record" default="false"/>

	<param name="/use_sim_time" value="true" if="$(eval hw_or_sim=='sim' and arg('stage_sim'))"/>

    <!-- Jetson Nodes -->
    <include file="$(find controller_node)/launch/2024_compbot_jetson.launch" pass_all_args="true"/>

    <!-- RIO Nodes -->
	<!-- For hw, run the Rio stuff on the Rio.
		 For sim, run both it and the jetson sim on the same machine. This
		 is an awful hack but seems to work? -->
	<group if="$(eval hw_or_sim=='hw')">
		<machine name="roboRIO" address="10.9.0.2" env-loader="/home/admin/2023RobotCode/zebROS_ws/ROSJetsonMaster.sh" user="admin" password="admin" default="true" timeout="30"/>
	</group>

    <include file="$(find controller_node)/launch/2024_compbot_rio.launch" pass_all_args="true"/>

    <!-- If you want to include a second Jetson, create a new launch file for it and uncomment these lines: -->
    <!-- Jetson 2 Nodes -->
	<group if="$(eval hw_or_sim=='hw')">
		<machine name="jetson_2" address="10.9.0.9" env-loader="/home/ubuntu/2023RobotCode/zebROS_ws/ROSJetsonMaster.sh" user="ubuntu" password="ubuntu" default="true"/>
	</group>
    <include file="$(find controller_node)/launch/2024_compbot_vision.launch"> 
		<arg name="run_camera" value="$(eval arg('hw_or_sim') == 'hw')" />
		<arg name="hw_or_sim" value="$(arg hw_or_sim)" />
	</include>

	<!-- StageSim related code 
		TODO : make this an additional option on top of hw_or_sim?
	-->
    <include file="$(find controller_node)/launch/stage_sim.launch" if="$(eval hw_or_sim=='sim' and arg('stage_sim'))">
		<arg name="world_file" value="2024_crescendo.world" />
		<arg name="sim_joystick" value="$(arg sim_joystick)" />
		<arg name="sim_button_box" value="$(arg sim_button_box)"/>
		<arg name="joy1_device" value="$(arg joy1_device)" />
		<arg name="button_box_device" value="$(arg button_box_device)" />
	</include>
</launch>
