<?xml version="1.0"?>
<launch>
  <!-- Create namesapce to avoid naming collisions if launching several drivers -->
  <group ns="multiflex_1">
    <node pkg="teraranger_array" type="teraranger_multiflex" name="multiflex_parser" output="screen" required="True" >
      <!-- Set the serial port name -->
      <param name="portname" value="/dev/ttyACM0" />
      <!-- Set activation of each sensor-->
      <param name="Sensor_0" value="True" />
      <param name="Sensor_1" value="False" />
      <param name="Sensor_2" value="True" />
      <param name="Sensor_3" value="True" />
      <param name="Sensor_4" value="True" />
      <param name="Sensor_5" value="True" />
      <param name="Sensor_6" value="False" />
      <param name="Sensor_7" value="False" />
      <!-- Remapping topic when using converter nodes-->
      <remap from="ranges" to="ranges_raw" />
    </node>
</group>
<group ns="align_server">
        <rosparam file="$(find behaviors)/config/align_server.yaml" command="load"/>
        <node name="align_ac_server" pkg="behaviors" type="align_server" output="screen" />

        <!-- Terabee stuffs -->
        <rosparam file="$(find behaviors)/config/align_with_terabee.yaml" command="load"/>
        <node name="align_with_terabee_node" pkg="behaviors" type="align_with_terabee_node" output="screen"/>
        <node name="distance_pid" pkg="pid" type="controller" >
            <param name="node_name" value="distance_pid" />
            <param name="Kp" value="3.0" />
            <param name="Ki" value="0.0" />
            <param name="Kd" value="0.1" />
            <param name="upper_limit" value="3" />
            <param name="lower_limit" value="-3" />
            <param name="windup_limit" value="10" />
            <param name="max_loop_frequency" value="100.0" />
            <param name="min_loop_frequency" value="100.0" />
            <param name="topic_from_controller" value="distance_pid/x_command" />
            <param name="setpoint_topic" value="distance_pid/setpoint" />
            <param name="topic_from_plant" value="distance_pid/state" />
            <remap from="pid_debug" to="distance_pid/pid_debug"/>
            <remap from="pid_enable" to="distance_pid/pid_enable"/>
        </node>
        <node name="terabee_pid_publish_pid_cmd_vel_node" pkg="behaviors" type="publish_pid_cmd_vel_node" output="screen">
            <param name="y_topic" value="distance_pid/x_command" />
            <param name="x_topic" value="align_with_terabee/y_command" />
            <param name="enable_topic" value="distance_pid/pid_enable" />
            <param name="name" value="terabee_pid" />
        </node>

        <!-- Snap to nearest goal navX test code -->
        <rosparam file="$(find teleop_joystick_control)/config/goal_angles.yaml" command="load"/>
        <node name="snap_to_nearest_goal" pkg="teleop_joystick_control" type="snap_to_nearest_goal" output="screen" />
        <node name="navX_pid" pkg="pid" type="controller" >
            <param name="node_name" value="navX_pid" />
            <param name="Kp" value="12.0" />
            <param name="Ki" value="0.0" />
            <param name="Kd" value="1.5" />
            <param name="upper_limit" value="8" />
            <param name="lower_limit" value="-8" />
            <param name="windup_limit" value="10" />
            <param name="angle_error" value="false" />
            <param name="angle_wrap" value="false" />
            <param name="max_loop_frequency" value="100.0" />
            <param name="min_loop_frequency" value="100.0" />
            <param name="topic_from_controller" value="navX_pid/orient_command" />
            <param name="setpoint_topic" value="navX_pid/setpoint" />
            <param name="topic_from_plant" value="navX_pid/state" />
            <remap from="pid_debug" to="navX_pid/pid_debug"/>
            <remap from="pid_enable" to="navX_pid/pid_enable"/>
        </node>
        <node name="navX_publish_pid_cmd_vel_node" pkg="behaviors" type="publish_pid_cmd_vel_node" output="screen">
            <param name="orient_topic" value="navX_pid/orient_command" />
            <param name="enable_topic" value="navX_pid/pid_enable" />
            <param name="name" value="navX_pid" />
        </node>
    </group>
</launch>
