<launch>
	  <arg name="resolution" default="3" />
	  <arg name="frame_rate" default="30" />
	  <arg name="quality" default="3" />
	  <arg name="brightness" default="-1" />
	  <arg name="contrast" default="5" />
	  <arg name="hue" default="6" />
	  <arg name="saturation" default="-1" />
	  <arg name="gain" default="-1" />
	  <arg name="exposure" default="-1" />
	  <arg name="whitebalance" default="-1" />
	  <arg name="name" default="zed_goal" />

	  <arg name="record" default="False" />
	  <arg name="down_sample" default="False" />
	  <arg name="sub_rate" default="10" />
	  <arg name="pub_rate" default="1" />

	  <group ns="$(arg name)">
	    <include file="$(find zed_wrapper)/launch/zed_camera.launch">
	      <!--<arg name="zed_name" value="$(arg name)" />-->
	      <arg name="resolution" value="$(arg resolution)" />
	      <arg name="frame_rate" value="$(arg frame_rate)" />
	      <arg name="quality" value="$(arg quality)" />
	      <arg name="brightness" value="$(arg brightness)" />
	      <arg name="contrast" value="$(arg contrast)" />
	      <arg name="hue" value="$(arg hue)" />
	      <arg name="saturation" value="$(arg saturation)" />
	      <arg name="gain" value="$(arg gain)" />
	      <arg name="exposure" value="$(arg exposure)" />
	      <arg name="whitebalance" value="$(arg whitebalance)" />
	    </include>
	</group>

	<arg name="marker_size" default="4.4" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/zed_goal/left/image_rect_color" />
	<arg name="cam_info_topic" default="/zed_goal/left/camera_info" />
	<arg name="output_frame" default="/zed_left_camera_optical_frame" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>

	<node pkg="tf2_ros" type="static_transform_publisher" name="link_cameratobase" args="-.19 .23 -.06 0 0 0 1 zed_left_camera_optical_frame base_frame" />

	<node pkg="tf2_ros" type="static_transform_publisher" name="link_basetoarmfront" args="0 0 0.8 0 0 0 1 base_frame arm_frame" />

	<node pkg="tf2_ros" type="static_transform_publisher" name="link_basetoarmback" args="0 0 -0.8 0 0 0 1 base_frame arm_frame" />

	<node pkg="tf2_ros" type="static_transform_publisher" name="link_artoexchange" args="0 -1.17 0 0 0 0 1 ar_marker_0 exchange_frame" />

</launch>
