<?xml version="1.0"?>
<launch>
		<!-- allow us to hook up sim odom topics for stage sim testing -->
		<arg name="odom_topic" default="/frcrobot_jetson/swerve_drive_controller/odom"/>
		<arg name="pose_topic" default="/hold_distance/distance_as_pose" />
		<arg name="use_pose_for_odom" default="true"/>

		<!-- TODO - fix this, server has /hold_position hard-coded for params -->
		<group ns="hold_position" >
			<rosparam file="$(find path_follower)/config/distance_to_pose.yaml" command="load"/>
			<group ns="hold_position" >
        <param name="odom_topic" value="$(arg odom_topic)"/>
        <param name="pose_topic" value="$(arg pose_topic)"/>
        <param name="use_pose_for_odom" value="$(arg use_pose_for_odom)"/>

        <!-- In meters and radians -->
		        <param name="dist_threshold" value="0.06"/>
       			<param name="angle_threshold" value="0.036"/>
			</group>
		</group>

		<group ns="hold_distance">

			<node name="hold_position_server" pkg="path_follower" type="hold_position_server" output="screen">
			</node>

            <node name="hold_position_publish_pid_cmd_vel_node" pkg="behaviors" type="publish_pid_cmd_vel_node" output="screen">
                <param name="orient_topic" value="orient_pid/orient_command" />
                <param name="x_topic" value="x_position_pid/x_command" />
                <param name="y_topic" value="y_position_pid/y_command" />
                <param name="command_timeout" value="0.5" />
                <param name="enable_topic" value="hold_position_pid/pid_enable" />
                <param name="name" value="hold_position_pid" />
                <param name="orient_state_topic" value="orient_pid/orient_state"/>
                <param name="transform_yaw" value="false"/>
            </node>

            <node name="x_position_pid" pkg="pid" type="controller" >
                <param name="node_name" value="x_position_pid" />
                <param name="Kp" value="1.7" />
                <param name="Ki" value="0.0005" />
                <param name="Kd" value="0.0" />
                <param name="upper_limit" value="1.25" />
                <param name="lower_limit" value="-1.25" />
                <param name="windup_limit" value="0.3" />
                <param name="max_loop_frequency" value="100.0" />
                <param name="min_loop_frequency" value="100.0" />
                <param name="topic_from_controller" value="x_position_pid/x_command" />
                <param name="setpoint_topic" value="x_position_pid/x_cmd_pub" />
                <param name="topic_from_plant" value="x_position_pid/x_state_pub" />
                <remap from="pid_debug" to="x_position_pid/pid_debug" />
                <remap from="pid_enable" to="x_position_pid/pid_enable" />
            </node>

            <node name="y_position_pid" pkg="pid" type="controller" >
                <param name="node_name" value="y_position_pid" />
                <param name="Kp" value="1.7" />
                <param name="Ki" value="0.0005" />
                <param name="Kd" value="0.0" />
                <param name="upper_limit" value="0" />
                <param name="lower_limit" value="-0" />
                <param name="windup_limit" value="10" />
                <param name="max_loop_frequency" value="100.0" />
                <param name="min_loop_frequency" value="100.0" />
                <param name="topic_from_controller" value="y_position_pid/y_command" />
                <param name="setpoint_topic" value="y_position_pid/y_cmd_pub" />
                <param name="topic_from_plant" value="y_position_pid/y_state_pub" />
                <remap from="pid_debug" to="y_position_pid/pid_debug" />
                <remap from="pid_enable" to="y_position_pid/pid_enable" />
            </node>

            <node name="orient_pid" pkg="pid" type="controller" >
                <param name="node_name" value="orient_pid" />
                <param name="Kp" value="-4.2" />
                <param name="Ki" value="0.0" />
                <param name="Kd" value="-0.001" />
                <param name="upper_limit" value="1.25" />
                <param name="lower_limit" value="-1.25" />
                <param name="windup_limit" value="0.5" />
                <param name="angle_error" value="true" />
                <param name="max_loop_frequency" value="100.0" />
                <param name="min_loop_frequency" value="100.0" />
                <param name="topic_from_controller" value="orient_pid/orient_command" />
                <param name="setpoint_topic" value="orient_pid/orient_cmd_pub" />
                <param name="topic_from_plant" value="orient_pid/orient_state" />
                <remap from="pid_debug" to="orient_pid/pid_debug"/>
                <remap from="pid_enable" to="orient_pid/pid_enable"/>
            </node>

			<node name="convert_distance_to_pose" pkg="path_follower" type="convert_distance_to_pose">
        <remap from="x_distance_input" to="/terabee/terabee_x" />
        <!-- Hack since we only have 1 working terabee right now -->
        <remap from="y_distance_input" to="/terabee/terabee_x" />
			</node>
        </group>


</launch>
