<?xml version="1.0"?>
<launch>
	<include file="$(find controller_node)/launch/zed_detection.launch">
		<arg name="zed_name"             value="zedx_front" />
		<arg name="zed_config_dir"       value="zed_field_calibration" />
		<arg name="camera_model"         value="zed2" />
		<!-- <arg name="serial_number"	     value="47067994" /> -->
		<arg name="cam_pos_x"            value="0.0" />
		<arg name="cam_pos_y"            value="0.0" />
		<arg name="cam_pos_z"            value="0.0" />
		<arg name="run_camera"           value="true" />
		<arg name="run_apriltag"         value="true" />
		<arg name="run_object_detection" value="false" />
	</include>

</launch>
