<?xml version="1.0"?>
<launch>
  <arg name="camera_name"             default="camera" />

  <include file="$(find spinnaker_camera_driver)/launch/camera.launch">
    <arg name="camera_name" value="$(arg camera_name)" />
    <arg name="camera_serial" value="20226999" />
    <arg name="calibrated" value="1" />
    <arg name="device_type" value="USB3" />
    <arg name="control_frame_rate" value="True" />
    <arg name="frame_rate" value="120" />
    <!-- <arg name="isp_enable" value="False" /> -->
    <arg name="encoding" value="Mono8" />
    <!-- <arg name="color_balance" value="Continuous" /> -->
  </include>
  <!-- 
  ========== GPU Apriltag Detector
  -->
  <group ns="apriltag_$(arg camera_name)">
    <!-- Run FRC971 GPU apriltag detector on output of FLIR spinnaker camera code  -->
    <node pkg="nodelet" type="nodelet" name="apriltag_detection" args="load frc971_gpu_apriltag/FRC971GpuApriltagNodelet /camera/camera_nodelet_manager" output="screen" >
      <remap from="image_rect_color" to="/$(arg camera_name)/image_mono" />
      <!-- Match tag topic to CPU apriltag detection topic names -->
      <remap from="/apriltag_$(arg camera_name)/apriltag_detection/tag_detection_msg" to="/apriltag_$(arg camera_name)/tag_detection_msg"/>
    </node>
  </group>
</launch>
