<?xml version="1.0"?>
<!-- node to fuse swerve odometry (x&y strafe) and IMU yaw data into
	 one single filtered odometry message

	 launch-prefix="gdb -ex run \-\-args"
-->

<launch>
	<node name="swerve_imu_ekf_node" pkg="robot_localization" type="ekf_localization_node" output="screen"> 
		<param name="cmd_vel" value="/frcrobot_jetson/swerve_drive_controller/cmd_vel_out"/>
		<param name="use_control" value="true"/>
		<rosparam param="control_config">[true,  true, true,
                                  true, true, true]</rosparam>

		<param name="frequency" value="100" />
		<param name="sensor_timeout" value="0.025" />
		<!-- 
			Change the frame parametrs when re-localization
			is implementated
			By default it looks like this node publishes 
			base_link <-> odom transform
		-->
		<param name="base_link_frame" value="base_link" />
		<param name="odom_frame" value="odom" />
		<param name="world_frame" value="odom" />

		<param name="two_d_mode" value="true" />
		<param name="publish_tf" value="false" />
		<param name="reset_on_time_jump" value="true" />

		<param name="smooth_lagged_data" value="false" />

		<param name="dynamic_process_noise_covariance" value="true" />

		<!--
			Sensor Configuration:
			x, y, z
			roll, pitch, yaw
			x-velocity, y-velocity, z-velocity
			roll-velocity, pitch-velocity, yaw-velocity
			x-acceleration, y-acceleration, z-acceleration
		-->
		<!--
			The covariance matricies must be set correctly
			or the state estimation node will be confused as to the correct
			source of information
		-->
		<!-- odom0 (wheel odom): x, y, z (z is always 0) -->
		<!-- Think about whether we want Z, roll, pitch - the robot shouldn't
			 have significant net motion in those directions 
			 (unless we are tipping over) and even so, do
			 we want to trust the navx data instead? -->
		<param name="odom0" value="/frcrobot_jetson/swerve_drive_controller/odom" />
		<rosparam param="odom0_config"> [false,  false,  false,
                                         false, false, false, 
                                         true, true, false,
                                         false, false, false,
                                         false, false, false]
        </rosparam>
		<param name="odom0_differential" value="false" />
		<param name="odom0_relative"     value="false" />
		<param name="odom0_nodelay"      value="true" />

		<!-- imu0 (IMU attached to Jetson via USB): 
			 roll, pitch, yaw, x-acc, y-acc, z-acc -->
		<!-- probably won't use roll or pitch but no harm fusing them -->
		<param name="imu0" value="/imu/zeroed_imu" />
		<rosparam param="imu0_config"> [false, false, false,
                                        true, true, true,
                                        false, false, false,
                                        false, false, false,
                                        false, false, false]
        </rosparam>
		<param name="imu0_differential" value="false"/>
		<param name="imu0_relative"     value="false" />
		<param name="imu0_nodelay"      value="true" />
		<param name="imu0_remove_gravitational_acceleration" value="false" />
		
		<param name="print_diagnostics" value="true"/>
		<param name="debug" value="true"/>
		

		<!-- ZED -->
		<param name="odom1" value="/zed_objdetect/odom" />
		<rosparam param="odom1_config"> [true,  true,  false,
                                         false, false, false, 
                                         false, false, false,
                                         false, false, false,
                                         false, false, false]
        </rosparam>
		<param name="odom1_differential" value="false" />
		<param name="odom1_relative"     value="true" />
		<param name="odom1_nodelay"      value="true" />

        <rosparam param="process_noise_covariance"> [0.2, 0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0.2, 0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,  0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0.005, 0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0.005, 0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0.005, 0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0.025, 0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0.025, 0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0, 0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0.001, 0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0.001, 0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0.001, 0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0.01, 0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0.01, 0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0.015]
        </rosparam>
	</node>
</launch>
