<?xml version="1.0"?>
<!--
Node to launch various configs of joystick support for simulation
The main difference is between having a real joystick plugged into a laptop
versus bringing up the sim joystick gui to control the robot
In both cases, the sim gui will still be used for a simulated button box.

-->
<launch>

	<arg name="sim_joystick" default="true"/>
	<arg name="sim_button_box" default="true"/>
	<arg name="joy1_device" default="/dev/input/js0" />
	<arg name="button_box_device" default="/dev/input/js1" />

	<!-- Launch a ros joy node to read a button box plugged into the laptop
		 This is almost never used, perhaps only for testing the button box
		 itself without a robot being available
		 If a sim joystick is used, expect the button box on the default 
		 /dev/input/js0
		 If a real joystick is also used, expect the button box to be bumped
		 up to /dev/input/js1
		 The output is always mapped to /frcrobot_rio/js1_in
	-->
	<group ns="button_box_joy" unless="$(arg sim_button_box)">

		<node name="joy_node" pkg="joy" type="joy_node" output="screen">
			<param name="dev" value="$(arg button_box_device)" unless="$(arg sim_joystick)"/>
			<param name="dev" value="$(arg joy1_device)" if="$(arg sim_joystick)"/>
			<param name="autorepeat_rate" type="double" value="100"/>
			<param name="coalesce_interval" type="double" value="0.01"/>
			<param name="deadzone" type="double" value="0.0"/>
			<remap from="joy" to="/frcrobot_rio/js1_in"/>
		</node>

	</group>

	<!-- Launch a ros joy node to read a real joystick plugged into the laptop
		 This is expected to be found on /dev/input/js0
		 The output is always mapped to /frcrobot_rio/js0_in
	-->
	<group ns="joy1" unless="$(arg sim_joystick)">

		<node name="joy_node" pkg="joy" type="joy_node" output="screen">
			<param name="dev" value="$(arg joy1_device)" />
			<param name="autorepeat_rate" type="double" value="100"/>
			<param name="coalesce_interval" type="double" value="0.01"/>
			<param name="deadzone" type="double" value="0.0"/>
		</node>

		<node pkg="teleop_joystick_control" type="joystick_remap.py" name="joystick_remap" >
			<remap from="joy_in" to="joy" />
			<remap from="joy_out" to="/frcrobot_rio/js0_in"/>
			<rosparam command="load" file="$(find teleop_joystick_control)/config/joystick_remap.yaml"/>
		</node>

	</group>

	<!-- Launch the joystick simulation gui to control the robot -->
	<group ns="joystick_simulation" if="$(eval arg('sim_joystick') or arg('sim_button_box'))">

		<node name="joystick_simulation_node" pkg="joystick_simulation_node" type="joystick_simulation_node" output="screen">
			<param name="show_xbox" value="$(arg sim_joystick)"/>
			<param name="show_button_box" value="$(arg sim_button_box)"/>
		</node>

	</group>

</launch>