<?xml version="1.0"?>
<launch>
	<arg name="joy_or_key" default="joy" />

	<group ns="joy0" unless="$(eval arg('joy_or_key')=='key')">
		<node name="joy_node" pkg="joy" type="joy_node" output="screen">
			<param name="autorepeat_rate" type="double" value="100"/>
			<param name="coalesce_interval" type="double" value="0.01"/>
			<param name="deadzone" type="double" value="0.0"/>
		</node>
		<node pkg="teleop_joystick_control" type="joystick_remap.py" name="joystick_remap" >
			<remap from="joy_in" to="/joy0/joy" />
			<remap from="joy_out" to="/frcrobot_rio/joystick_states_raw"/>
			<rosparam command="load" file="$(find teleop_joystick_control)/config/joystick_remap.yaml"/>
		</node>
	</group>	
	<group ns="joy1" if="$(eval arg('joy_or_key')=='two_joy')">
		<node name="joy_node" pkg="joy" type="joy_node" output="screen">
			<param name="dev" value="/dev/input/js1"/>
			<param name="autorepeat_rate" type="double" value="100"/>
			<param name="coalesce_interval" type="double" value="0.01"/>
			<param name="deadzone" type="double" value="0.0"/>
		</node>
		<node pkg="teleop_joystick_control" type="joystick_remap.py" name="joystick_remap" >
			<remap from="joy_in" to="/joy1/joy" />
			<remap from="joy_out" to="/frcrobot_rio/joystick_states_raw1"/>
			<rosparam command="load" file="$(find teleop_joystick_control)/config/joystick_remap.yaml"/>
		</node>
	</group>
</launch>
