<?xml version="1.0"?>
<launch>

    <arg name="vfov" default="40" />
    <arg name="hfov" default="60" />
    <arg name="sub_rate" default="1" />
    <arg name="pub_rate" default="1" />
    <arg name="frameWidth" default="78" />
    <arg name="frameHeight" default="51" />
    <arg name="camera_height" default="0.4" />
    <arg name="angle" default="25" />

	<node name="pixy_get_lines_node" pkg="pixy_get_lines" type="pixy_get_lines_node" output="screen">
	</node>

	<node name="screen_to_world_node" pkg="screen_to_world" type="screen_to_world_node" output= "screen">
  		<param name="vfov" value="$(arg vfov)" />
  		<param name="sub_rate" value="$(arg sub_rate)" />
  		<param name="pub_rate" value="$(arg pub_rate)" />
		<param name="hfov" value="$(arg hfov)" />
		<param name="frameWidth" value="$(arg frameWidth)" />
		<param name="frameHeight" value="$(arg frameHeight)" />
		<param name="camera_height" value="$(arg camera_height)" />
		<param name="angle" value="$(arg angle)" />
  	</node>

</launch>
