<!-- -*- xml -*-
     This tutorial relies on a live video sequence acquired with a 
     firewire camera in front of a QR code planar target. The model 
     corresponding to this target is given into the models directory 
     of this package.
     Camera parameters are read from models/calibration.ini file. They 
     need to be the one of your camera.
     Here we use the viewer coming with visp_tracker package to 
     display the pose estimation results.
     See http://www.ros.org/wiki/visp_auto_tracker for more information.
  -->
<launch>

  <arg name="resolution" default="3" />
  <arg name="frame_rate" default="30" />
  <arg name="quality" default="3" />
  <arg name="brightness" default="-1" />
  <arg name="contrast" default="5" />
  <arg name="hue" default="6" />
  <arg name="saturation" default="-1" />
  <arg name="gain" default="-1" />
  <arg name="exposure" default="-1" />
  <arg name="whitebalance" default="-1" />
  <arg name="name" default="zed_goal" />

  <arg name="record" default="False" />
  <arg name="down_sample" default="False" />
  <arg name="sub_rate" default="10" />
  <arg name="pub_rate" default="1" />

  <group ns="$(arg name)">
    <include file="$(find zed_wrapper)/launch/zed_camera.launch">
      <!--<arg name="zed_name" value="$(arg name)" />-->
      <arg name="resolution" value="$(arg resolution)" />
      <arg name="frame_rate" value="$(arg frame_rate)" />
      <arg name="quality" value="$(arg quality)" />
      <arg name="brightness" value="$(arg brightness)" />
      <arg name="contrast" value="$(arg contrast)" />
      <arg name="hue" value="$(arg hue)" />
      <arg name="saturation" value="$(arg saturation)" />
      <arg name="gain" value="$(arg gain)" />
      <arg name="exposure" value="$(arg exposure)" />
      <arg name="whitebalance" value="$(arg whitebalance)" />
    </include>
</group>


  <param name="/camera_prefix" type="string" value="/" />
		
  <!-- Launch the tracking node -->
  <node pkg="visp_auto_tracker" type="visp_auto_tracker" name="visp_auto_tracker">
    <param name="model_path" value="$(find visp_auto_tracker)/models" />
    <param name="model_name" value="pattern" />
    <param name="debug_display" value="True" />
	      
    <remap from="/visp_auto_tracker/camera_info" to="/zed_goal/left/camera_info"/>
    <remap from="/visp_auto_tracker/image_raw" to="/zed_goal/left/image_rect_color"/>	
  </node>

  <!-- Launch the firewire camera acquisition node -->
  <node pkg="camera1394" type="camera1394_node" name="my_camera1394_node" args="_video_mode:=640x480_rgb8" >
    <param name="camera_info_url" value="package://visp_auto_tracker/models/calibration.ini" />
    <param name="frame_id" value="/map" />
  </node>
  
  <!-- Launch the viewer -->
  <node pkg="visp_tracker" type="visp_tracker_viewer" name="tracker_mbt_viewer" output="screen">
    <param name="frame_size" value="0.1" />
    <remap from="/image_rect" to="/zed_goal/left/image_rect_color"/>
    <remap from="/camera_info" to="/zed_goal/left/camera_info"/>
    <remap from="/object_position_covariance" to="/visp_auto_tracker/object_position_covariance"/>
    <remap from="/object_position" to="/visp_auto_tracker/object_position"/>
  </node>

</launch>
