<?xml version="1.0"?>

<launch>
  <!--
  What we are recording:
  * All image_rect_color (4 images) using regular expression
  * Anything that is subscribed to by the nodes: rtabmap, goal detection, fuel detection
  * Results of SLAM (point cloud)
  * A few other misc topics
  -->

  <!-- Hopefully rosbag will work for zed images & depth
  <node name="zms_writer_node" pkg="zms_writer" type="zms_writer_node" respawn="true"/>
  -->

  <node name="rosbag_record_node" pkg="rosbag" type="record"
	  args="record -o /mnt/900_2/ --lz4
		/frcrobot/error_times
		/frcrobot/joint_states
		/frcrobot/joystick_states
		/frcrobot/match_data
		/frcrobot/navx_mxp
		/frcrobot/pdp_states
		/frcrobot/rumble_controller/command
		/frcrobot/swerve_drive_controller/cmd_vel
		/frcrobot/swerve_drive_controller/odom
		/frcrobot/talon_states
		/rosout
		/rosout_agg
                /zed_
		/tf
		/tf_static " />
	<!--	/zed_goal/left/image_rect_color
		/zed_goal/depth/depth_registered" /> -->
</launch>
