<?xml version="1.0"?>

<launch>

<!-- rostopic list | grep -E -v '.*image.*|.*disp.*|.*depth_registered.*|.*confidence_map.*|.*point_cloud.*' -->
  <node name="rosbag_record_node" pkg="rosbag" type="record"
	  launch-prefix="nice"
	  args="record --tcpnodelay -o /home/ubuntu/bagfiles/ -a -x '.*image.*|.*disp.*|.*depth_registered.*|.*confidence_map.*|.*point_cloud.*'
		"/>
</launch>
