<?xml version="1.0"?>

<launch>

  <node name="rosbag_record_node" pkg="rosbag" type="record"
	  launch-prefix="nice"
	  args="record --tcpnodelay -o /home/ubuntu/bagfiles/
		/apriltag_detection/tags
	    /tagslam/odom/body_frc_robot
		/apriltag_zed_back/apriltag_detection/tags
		/apriltag_zed_back/tag_detection_msg
		/apriltag_zed_back/tag_detection_world
		/align/cmd_vel
		/align_and_place_grid/cancel
        /align_and_place_grid/feedback
        /align_and_place_grid/goal
        /align_and_place_grid/result
        /align_and_place_grid/status
        /align_to_grid/cancel
        /align_to_grid/feedback
        /align_to_grid/goal
        /align_to_grid/result
        /align_to_grid/status
		/align_to_grid_closed_loop/align_to_grid_closed_loop/cancel
		/align_to_grid_closed_loop/align_to_grid_closed_loop/feedback
		/align_to_grid_closed_loop/align_to_grid_closed_loop/goal
		/align_to_grid_closed_loop/align_to_grid_closed_loop/result
		/align_to_grid_closed_loop/align_to_grid_closed_loop/status
		/align_to_grid_closed_loop/x_position_pid/parameter_descriptions
		/align_to_grid_closed_loop/x_position_pid/parameter_updates
		/align_to_grid_closed_loop/x_position_pid/pid_debug
		/align_to_grid_closed_loop/x_position_pid/pid_enable
		/align_to_grid_closed_loop/x_position_pid/x_cmd_pub
		/align_to_grid_closed_loop/x_position_pid/x_command
		/align_to_grid_closed_loop/x_position_pid/x_state_pub
		/align_to_grid_closed_loop/y_position_pid/parameter_descriptions
		/align_to_grid_closed_loop/y_position_pid/parameter_updates
		/align_to_grid_closed_loop/y_position_pid/pid_debug
		/align_to_grid_closed_loop/y_position_pid/pid_enable
		/align_to_grid_closed_loop/y_position_pid/y_cmd_pub
		/align_to_grid_closed_loop/y_position_pid/y_command
		/align_to_grid_closed_loop/y_position_pid/y_state_pub
		/auto/auto_mode
		/auto/auto_state
		/auto/cmd_vel
		/balance_position/balancer_server/cancel
		/balance_position/balancer_server/feedback
		/balance_position/balancer_server/goal
		/balance_position/balancer_server/result
		/balance_position/balancer_server/status
		/balance_position/balancer_server/swerve_drive_controller/cmd_vel
		/balance_position/balancing_server/cancel
		/balance_position/balancing_server/feedback
		/balance_position/balancing_server/goal
		/balance_position/balancing_server/result
		/balance_position/balancing_server/status
		/balance_position/position_balance_pid/pitch_cmd_pub
		/balance_position/position_balance_pid/pitch_state_pub
		/balance_position/position_balance_pid/x_command
		/balance_position/x_position_balance_pid/parameter_descriptions
		/balance_position/x_position_balance_pid/parameter_updates
		/balance_position/x_position_balance_pid/pid_debug
		/balance_position/x_position_balance_pid/pid_enable
		/clicked_point
		/diagnostics
		/elevater/elevater_server_2023/cancel
		/elevater/elevater_server_2023/feedback
		/elevater/elevater_server_2023/goal
		/elevater/elevater_server_2023/parameter_descriptions
		/elevater/elevater_server_2023/parameter_updates
		/elevater/elevater_server_2023/result
		/elevater/elevater_server_2023/status
		/elevator_position_offset
		/enable_auto_in_teleop
		/fourbar_elevator_path/fourbar_elevator_path_server_2023/cancel
		/fourbar_elevator_path/fourbar_elevator_path_server_2023/feedback
		/fourbar_elevator_path/fourbar_elevator_path_server_2023/goal
		/fourbar_elevator_path/fourbar_elevator_path_server_2023/result
		/fourbar_elevator_path/fourbar_elevator_path_server_2023/status
		/fourbar_position_offset
		/fourber/fourber_server_2023/cancel
		/fourber/fourber_server_2023/feedback
		/fourber/fourber_server_2023/goal
		/fourber/fourber_server_2023/result
		/fourber/fourber_server_2023/status
		/frcrobot_jetson/button_box_state_controller
		/frcrobot_jetson/cpu_monitor/align_and_place_grid/cpu
        /frcrobot_jetson/cpu_monitor/align_and_place_grid/mem
        /frcrobot_jetson/cpu_monitor/align_to_grid_2023/cpu
        /frcrobot_jetson/cpu_monitor/align_to_grid_2023/mem
		/frcrobot_jetson/cpu_monitor/align_to_grid_closed_loop/align_to_grid_closed_loop_2023/cpu
		/frcrobot_jetson/cpu_monitor/align_to_grid_closed_loop/align_to_grid_closed_loop_2023/mem
		/frcrobot_jetson/cpu_monitor/align_to_grid_closed_loop/x_position_pid/cpu
		/frcrobot_jetson/cpu_monitor/align_to_grid_closed_loop/x_position_pid/mem
		/frcrobot_jetson/cpu_monitor/align_to_grid_closed_loop/y_position_pid/cpu
		/frcrobot_jetson/cpu_monitor/align_to_grid_closed_loop/y_position_pid/mem
        /frcrobot_jetson/cpu_monitor/apriltag_ros_continuous_node/cpu
        /frcrobot_jetson/cpu_monitor/apriltag_ros_continuous_node/mem
		/frcrobot_jetson/cpu_monitor/auto/auto_node/cpu
		/frcrobot_jetson/cpu_monitor/auto/auto_node/mem
		/frcrobot_jetson/cpu_monitor/balance_position/balancer_server/cpu
		/frcrobot_jetson/cpu_monitor/balance_position/balancer_server/mem
		/frcrobot_jetson/cpu_monitor/balance_position/balancing_server/cpu
		/frcrobot_jetson/cpu_monitor/balance_position/balancing_server/mem
		/frcrobot_jetson/cpu_monitor/balance_position/x_position_balance_pid/cpu
		/frcrobot_jetson/cpu_monitor/balance_position/x_position_balance_pid/mem
		/frcrobot_jetson/cpu_monitor/candle_node/cpu
        /frcrobot_jetson/cpu_monitor/candle_node/mem
		/frcrobot_jetson/cpu_monitor/cmd_vel_mux/twist_mux/cpu
		/frcrobot_jetson/cpu_monitor/cmd_vel_mux/twist_mux/mem
		/frcrobot_jetson/cpu_monitor/elevater/elevater_server_2023/cpu
		/frcrobot_jetson/cpu_monitor/elevater/elevater_server_2023/mem
		/frcrobot_jetson/cpu_monitor/fourbar_elevator_path/fourbar_elevator_path_server_2023/cpu
		/frcrobot_jetson/cpu_monitor/fourbar_elevator_path/fourbar_elevator_path_server_2023/mem
		/frcrobot_jetson/cpu_monitor/fourber/fourber_server_2023/cpu
		/frcrobot_jetson/cpu_monitor/fourber/fourber_server_2023/mem
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/cpu_monitor/cpu
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/cpu_monitor/mem
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/dump_offsets_service/cpu
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/dump_offsets_service/mem
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/frcrobot_hw_interface/cpu
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/frcrobot_hw_interface/mem
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/ros_control_controller_manager/cpu
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/ros_control_controller_manager/mem
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/uptime_jetson/cpu
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/uptime_jetson/mem
		/frcrobot_jetson/cpu_monitor/game_piece/game_piece_state_2023/cpu
		/frcrobot_jetson/cpu_monitor/game_piece/game_piece_state_2023/mem
		/frcrobot_jetson/cpu_monitor/hold_distance/convert_distance_to_pose/cpu
		/frcrobot_jetson/cpu_monitor/hold_distance/convert_distance_to_pose/mem
		/frcrobot_jetson/cpu_monitor/hold_distance/hold_position_publish_pid_cmd_vel_node/cpu
		/frcrobot_jetson/cpu_monitor/hold_distance/hold_position_publish_pid_cmd_vel_node/mem
		/frcrobot_jetson/cpu_monitor/hold_distance/hold_position_server/cpu
		/frcrobot_jetson/cpu_monitor/hold_distance/hold_position_server/mem
		/frcrobot_jetson/cpu_monitor/hold_distance/orient_pid/cpu
		/frcrobot_jetson/cpu_monitor/hold_distance/orient_pid/mem
		/frcrobot_jetson/cpu_monitor/hold_distance/x_position_pid/cpu
		/frcrobot_jetson/cpu_monitor/hold_distance/x_position_pid/mem
		/frcrobot_jetson/cpu_monitor/hold_distance/y_position_pid/cpu
		/frcrobot_jetson/cpu_monitor/hold_distance/y_position_pid/mem
		/frcrobot_jetson/cpu_monitor/hold_position/hold_position_publish_pid_cmd_vel_node/cpu
        /frcrobot_jetson/cpu_monitor/hold_position/hold_position_publish_pid_cmd_vel_node/mem
        /frcrobot_jetson/cpu_monitor/hold_position/hold_position_server/cpu
        /frcrobot_jetson/cpu_monitor/hold_position/hold_position_server/mem
        /frcrobot_jetson/cpu_monitor/hold_position/x_position_pid/cpu
        /frcrobot_jetson/cpu_monitor/hold_position/x_position_pid/mem
        /frcrobot_jetson/cpu_monitor/hold_position/y_position_pid/cpu
        /frcrobot_jetson/cpu_monitor/hold_position/y_position_pid/mem
		/frcrobot_jetson/cpu_monitor/imu/imu_zero/cpu
		/frcrobot_jetson/cpu_monitor/imu/imu_zero/mem
		/frcrobot_jetson/cpu_monitor/intake/intake_server_2023/cpu
		/frcrobot_jetson/cpu_monitor/intake/intake_server_2023/mem
		/frcrobot_jetson/cpu_monitor/intake/reader/intake_reader_2023/cpu
		/frcrobot_jetson/cpu_monitor/intake/reader/intake_reader_2023/mem
		/frcrobot_jetson/cpu_monitor/intaking/intaking_server_2023/cpu
		/frcrobot_jetson/cpu_monitor/intaking/intaking_server_2023/mem
		/frcrobot_jetson/cpu_monitor/path_follower/base_trajectory_node/cpu
        /frcrobot_jetson/cpu_monitor/path_follower/base_trajectory_node/mem
        /frcrobot_jetson/cpu_monitor/path_follower/map_server/cpu
        /frcrobot_jetson/cpu_monitor/path_follower/map_server/mem
        /frcrobot_jetson/cpu_monitor/path_follower/path_follower_publish_pid_cmd_vel_node/cpu
        /frcrobot_jetson/cpu_monitor/path_follower/path_follower_publish_pid_cmd_vel_node/mem
        /frcrobot_jetson/cpu_monitor/path_follower/path_follower_server/cpu
        /frcrobot_jetson/cpu_monitor/path_follower/path_follower_server/mem
        /frcrobot_jetson/cpu_monitor/path_follower/x_position_pid/cpu
        /frcrobot_jetson/cpu_monitor/path_follower/x_position_pid/mem
        /frcrobot_jetson/cpu_monitor/path_follower/y_position_pid/cpu
        /frcrobot_jetson/cpu_monitor/path_follower/y_position_pid/mem
        /frcrobot_jetson/cpu_monitor/path_to_apriltag/cpu
        /frcrobot_jetson/cpu_monitor/path_to_apriltag/mem
		/frcrobot_jetson/cpu_monitor/placing/placing_server_2023/cpu
		/frcrobot_jetson/cpu_monitor/placing/placing_server_2023/mem
		/frcrobot_jetson/cpu_monitor/robot_state/robot_state_publisher/cpu
		/frcrobot_jetson/cpu_monitor/robot_state/robot_state_publisher/mem
		/frcrobot_jetson/cpu_monitor/rosbag_record_node/cpu
        /frcrobot_jetson/cpu_monitor/rosbag_record_node/mem
		/frcrobot_jetson/cpu_monitor/rosout/cpu
		/frcrobot_jetson/cpu_monitor/rosout/mem
		/frcrobot_jetson/cpu_monitor/snap_to_angle/snap_to_conecube_node_2023/cpu
		/frcrobot_jetson/cpu_monitor/snap_to_angle/snap_to_conecube_node_2023/mem
		/frcrobot_jetson/cpu_monitor/substation/align_to_substation_2023/cpu
        /frcrobot_jetson/cpu_monitor/substation/align_to_substation_2023/mem
		/frcrobot_jetson/cpu_monitor/swerve_imu_ukf/base_link_to_imu/cpu
		/frcrobot_jetson/cpu_monitor/swerve_imu_ukf/base_link_to_imu/mem
		/frcrobot_jetson/cpu_monitor/swerve_imu_ukf/base_link_to_pigeon2/cpu
		/frcrobot_jetson/cpu_monitor/swerve_imu_ukf/base_link_to_pigeon2/mem
		/frcrobot_jetson/cpu_monitor/teleop/orient_strafing/orient_strafing_pid/cpu
		/frcrobot_jetson/cpu_monitor/teleop/orient_strafing/orient_strafing_pid/mem
		/frcrobot_jetson/cpu_monitor/teleop/teleop_joystick_comp_2023/cpu
		/frcrobot_jetson/cpu_monitor/teleop/teleop_joystick_comp_2023/mem
		/frcrobot_jetson/cpu_monitor/tf_object_detection/cargo_detection_filter/cpu
        /frcrobot_jetson/cpu_monitor/tf_object_detection/cargo_detection_filter/mem
        /frcrobot_jetson/cpu_monitor/tf_object_detection/tag_depth/cpu
        /frcrobot_jetson/cpu_monitor/tf_object_detection/tag_depth/mem
		/frcrobot_jetson/cpu_monitor/tf_object_detection/tf_object_detection/cpu
		/frcrobot_jetson/cpu_monitor/tf_object_detection/tf_object_detection/mem
		/frcrobot_jetson/cpu_monitor/tf_object_detection/tf_object_screen_to_world/cpu
		/frcrobot_jetson/cpu_monitor/tf_object_detection/tf_object_screen_to_world/mem
		/frcrobot_jetson/cpu_monitor/tf_object_detection/tf_object_screen_to_world_tags/cpu
        /frcrobot_jetson/cpu_monitor/tf_object_detection/tf_object_screen_to_world_tags/mem
		/frcrobot_jetson/cpu_monitor/total_active_mem
		/frcrobot_jetson/cpu_monitor/total_available_mem
		/frcrobot_jetson/cpu_monitor/total_buffers_mem
		/frcrobot_jetson/cpu_monitor/total_cached_mem
		/frcrobot_jetson/cpu_monitor/total_cpu
		/frcrobot_jetson/cpu_monitor/total_free_mem
		/frcrobot_jetson/cpu_monitor/total_inactive_mem
		/frcrobot_jetson/cpu_monitor/total_shared_mem
		/frcrobot_jetson/cpu_monitor/total_slab_mem
		/frcrobot_jetson/cpu_monitor/total_used_mem
		/frcrobot_jetson/cpu_monitor/zed_objdetect/cpu
		/frcrobot_jetson/cpu_monitor/zed_objdetect/mem
		/frcrobot_jetson/cpu_monitor/zed_objdetect_state_publisher/cpu
		/frcrobot_jetson/cpu_monitor/zed_objdetect_state_publisher/mem
		/frcrobot_jetson/elevator_controller_2023/elevator_leader/parameter_descriptions
		/frcrobot_jetson/elevator_controller_2023/elevator_leader/parameter_updates
		/frcrobot_jetson/elevator_controller_2023/parameter_descriptions
		/frcrobot_jetson/elevator_controller_2023/parameter_updates
		/frcrobot_jetson/four_bar_controller_2023/four_bar/parameter_descriptions
		/frcrobot_jetson/four_bar_controller_2023/four_bar/parameter_updates
		/frcrobot_jetson/four_bar_controller_2023/parameter_descriptions
		/frcrobot_jetson/four_bar_controller_2023/parameter_updates
		/frcrobot_jetson/intake_leader_controller/command
		/frcrobot_jetson/joint_states
		/frcrobot_jetson/latency_compensation_states
		/frcrobot_jetson/orchestra_states
		/frcrobot_jetson/pigeon2
		/frcrobot_jetson/swerve_drive_controller/cmd_vel
		/frcrobot_jetson/swerve_drive_controller/cmd_vel_out
		/frcrobot_jetson/swerve_drive_controller/odom
		/frcrobot_jetson/swerve_drive_controller/speed_joint_bl/parameter_descriptions
		/frcrobot_jetson/swerve_drive_controller/speed_joint_bl/parameter_updates
		/frcrobot_jetson/swerve_drive_controller/speed_joint_br/parameter_descriptions
		/frcrobot_jetson/swerve_drive_controller/speed_joint_br/parameter_updates
		/frcrobot_jetson/swerve_drive_controller/speed_joint_fl/parameter_descriptions
		/frcrobot_jetson/swerve_drive_controller/speed_joint_fl/parameter_updates
		/frcrobot_jetson/swerve_drive_controller/speed_joint_fr/parameter_descriptions
		/frcrobot_jetson/swerve_drive_controller/speed_joint_fr/parameter_updates
		/frcrobot_jetson/talon_configs
		/frcrobot_jetson/talon_states
		/frcrobot_jetson/talonfxpro_configs
		/frcrobot_jetson/talonfxpro_states
		/frcrobot_jetson/uptime
		/frcrobot_rio/button_box_states
		/frcrobot_rio/cpu_monitor/frcrobot_rio/cpu_monitor/cpu
		/frcrobot_rio/cpu_monitor/frcrobot_rio/cpu_monitor/mem
		/frcrobot_rio/cpu_monitor/frcrobot_rio/frcrobot_hw_interface/cpu
		/frcrobot_rio/cpu_monitor/frcrobot_rio/frcrobot_hw_interface/mem
		/frcrobot_rio/cpu_monitor/frcrobot_rio/uptime_rio/cpu
		/frcrobot_rio/cpu_monitor/frcrobot_rio/uptime_rio/mem
		/frcrobot_rio/cpu_monitor/total_active_mem
		/frcrobot_rio/cpu_monitor/total_available_mem
		/frcrobot_rio/cpu_monitor/total_buffers_mem
		/frcrobot_rio/cpu_monitor/total_cached_mem
		/frcrobot_rio/cpu_monitor/total_cpu
		/frcrobot_rio/cpu_monitor/total_free_mem
		/frcrobot_rio/cpu_monitor/total_inactive_mem
		/frcrobot_rio/cpu_monitor/total_shared_mem
		/frcrobot_rio/cpu_monitor/total_used_mem
		/frcrobot_rio/joint_states
		/frcrobot_rio/joystick_states1
		/frcrobot_rio/joystick_states2
		/frcrobot_rio/match_data
		/frcrobot_rio/pdh_states
		/frcrobot_rio/robot_controller_states
		/frcrobot_rio/uptime
		/game_piece/game_piece_state
		/game_piece/game_piece_state_2023/parameter_descriptions
		/game_piece/game_piece_state_2023/parameter_updates
		/game_piece/requested_game_piece
		/hold_distance/distance_as_pose
		/hold_distance/hold_position_pid/pid_enable
		/hold_distance/hold_position_pid/swerve_drive_controller/cmd_vel
		/hold_distance/hold_position_server/cancel
		/hold_distance/hold_position_server/feedback
		/hold_distance/hold_position_server/goal
		/hold_distance/hold_position_server/parameter_descriptions
		/hold_distance/hold_position_server/parameter_updates
		/hold_distance/hold_position_server/result
		/hold_distance/hold_position_server/status
		/hold_distance/orient_pid/orient_cmd_pub
		/hold_distance/orient_pid/orient_command
		/hold_distance/orient_pid/orient_state
		/hold_distance/orient_pid/parameter_descriptions
		/hold_distance/orient_pid/parameter_updates
		/hold_distance/orient_pid/pid_debug
		/hold_distance/orient_pid/pid_enable
		/hold_distance/x_position_pid/parameter_descriptions
		/hold_distance/x_position_pid/parameter_updates
		/hold_distance/x_position_pid/pid_debug
		/hold_distance/x_position_pid/pid_enable
		/hold_distance/x_position_pid/x_cmd_pub
		/hold_distance/x_position_pid/x_command
		/hold_distance/x_position_pid/x_state_pub
		/hold_distance/y_position_pid/parameter_descriptions
		/hold_distance/y_position_pid/parameter_updates
		/hold_distance/y_position_pid/pid_debug
		/hold_distance/y_position_pid/pid_enable
		/hold_distance/y_position_pid/y_cmd_pub
		/hold_distance/y_position_pid/y_command
		/hold_distance/y_position_pid/y_state_pub
		/hold_position/hold_position_pid/pid_enable
		/hold_position/hold_position_pid/swerve_drive_controller/cmd_vel
		/hold_position/hold_position_server/cancel
		/hold_position/hold_position_server/feedback
		/hold_position/hold_position_server/goal
		/hold_position/hold_position_server/parameter_descriptions
		/hold_position/hold_position_server/parameter_updates
		/hold_position/hold_position_server/result
		/hold_position/hold_position_server/status
		/hold_position/x_position_pid/parameter_descriptions
		/hold_position/x_position_pid/parameter_updates
		/hold_position/x_position_pid/pid_debug
		/hold_position/x_position_pid/pid_enable
		/hold_position/x_position_pid/x_cmd_pub
		/hold_position/x_position_pid/x_command
		/hold_position/x_position_pid/x_state_pub
		/hold_position/y_position_pid/parameter_descriptions
		/hold_position/y_position_pid/parameter_updates
		/hold_position/y_position_pid/pid_debug
		/hold_position/y_position_pid/pid_enable
		/hold_position/y_position_pid/y_cmd_pub
		/hold_position/y_position_pid/y_command
		/hold_position/y_position_pid/y_state_pub
		/imu/zeroed_imu
		/intake/intake_server_2023/cancel
		/intake/intake_server_2023/feedback
		/intake/intake_server_2023/goal
		/intake/intake_server_2023/result
		/intake/intake_server_2023/status
		/intake/reader/state
		/intaking/intaking_server_2023/cancel
		/intaking/intaking_server_2023/feedback
		/intaking/intaking_server_2023/goal
		/intaking/intaking_server_2023/parameter_descriptions
		/intaking/intaking_server_2023/parameter_updates
		/intaking/intaking_server_2023/result
		/intaking/intaking_server_2023/status
		/joint_states
		/path_follower/base_trajectory_node/parameter_descriptions
        /path_follower/base_trajectory_node/parameter_updates
        /path_follower/local_plan
        /path_follower/map
        /path_follower/map_metadata
        /path_follower/path_follower_pid/pid_enable
		/path_follower/path_follower_pid/swerve_drive_controller/cmd_vel
		/path_follower/path_follower_server/cancel
		/path_follower/path_follower_server/feedback
		/path_follower/path_follower_server/goal
		/path_follower/path_follower_server/result
		/path_follower/path_follower_server/status
		/path_follower/robot_relative_yaw
        /path_follower/x_position_pid/parameter_descriptions
        /path_follower/x_position_pid/parameter_updates
        /path_follower/x_position_pid/pid_debug
        /path_follower/x_position_pid/pid_enable
        /path_follower/x_position_pid/x_cmd_pub
        /path_follower/x_position_pid/x_command
        /path_follower/x_position_pid/x_state_pub
        /path_follower/y_position_pid/parameter_descriptions
        /path_follower/y_position_pid/parameter_updates
        /path_follower/y_position_pid/pid_debug
        /path_follower/y_position_pid/pid_enable
        /path_follower/y_position_pid/y_cmd_pub
        /path_follower/y_position_pid/y_command
        /path_follower/y_position_pid/y_state_pub
        /path_to_apriltag/cancel
        /path_to_apriltag/feedback
        /path_to_apriltag/goal
        /path_to_apriltag/result
        /path_to_apriltag/status
        /placing/cmd_vel
		/placing/placing_server_2023/cancel
		/placing/placing_server_2023/feedback
		/placing/placing_server_2023/goal
		/placing/placing_server_2023/result
		/placing/placing_server_2023/status
		/robot_state/joint_states
		/rosout
		/rosout_agg
		/snap_to_angle/nearest_cone_angle
		/snap_to_angle/nearest_cube_angle
		/snap_to_angle/snap_to_conecube_node_2023/parameter_descriptions
		/snap_to_angle/snap_to_conecube_node_2023/parameter_updates
		/substation/align_to_substation/cancel
        /substation/align_to_substation/feedback
        /substation/align_to_substation/goal
        /substation/align_to_substation/result
        /substation/align_to_substation/status
        /tag_detections
		/teleop/orient_strafing/control_effort
		/teleop/orient_strafing/orient_strafing_pid/parameter_descriptions
		/teleop/orient_strafing/orient_strafing_pid/parameter_updates
		/teleop/orient_strafing/pid_debug
		/teleop/orient_strafing/pid_enable
		/teleop/orient_strafing/setpoint
		/teleop/orient_strafing/state
		/teleop/orient_strafing/swerve_drive_controller/cmd_vel
		/teleop/orientation_command
		/teleop/swerve_drive_controller/cmd_vel
		/teleop/teleop_params/parameter_descriptions
		/teleop/teleop_params/parameter_updates
		/terabee/terabee_x
		/tf
		/tf_object_detection/obj_detection_msg
		/tf_object_detection/object_detection_world
		/tf_object_detection/object_detection_world_filtered
		/tf_object_detection/tag_detection_msg
        /tf_object_detection/tag_detection_world
		/tf_static
		/zed_objdetect/atm_press
		/zed_objdetect/depth/camera_info
		/zed_objdetect/imu/data
		/zed_objdetect/imu/data_raw
		/zed_objdetect/imu/mag
		/zed_objdetect/left/camera_info
		/zed_objdetect/odom
		/zed_objdetect/parameter_descriptions
		/zed_objdetect/parameter_updates
		/zed_objdetect/path_map
		/zed_objdetect/path_odom
		/zed_objdetect/plane
		/zed_objdetect/plane_marker
		/zed_objdetect/pose
		/zed_objdetect/pose_with_covariance
		/zed_objdetect/temperature/imu
		/zed_objdetect/temperature/left
		/zed_objdetect/temperature/right
		/frcrobot_jetson/talonfxpro_states
		/frcrobot_jetson/talonfxpro_configs
		/frcrobot_jetson/swerve_drive_state_controller/odom
		/vroom
		/wpilib_odom/odom
		"/>
</launch>
