<?xml version="1.0"?>

<launch>

  <node name="rosbag_record_node" pkg="rosbag" type="record"
	  launch-prefix="nice" 
	  args="record -o /mnt/900_2/
		/2022_index_server/ball_state
		/auto/auto_mode
		/auto/auto_state
		/auto/cmd_vel
		/connected_clients
		/diagnostics
		/enable_auto_in_teleop
		/frcrobot_jetson/cpu_monitor/auto/auto_node/cpu
		/frcrobot_jetson/cpu_monitor/auto/auto_node/mem
		/frcrobot_jetson/cpu_monitor/climber/climb_server_2022/cpu
		/frcrobot_jetson/cpu_monitor/climber/climb_server_2022/mem
		/frcrobot_jetson/cpu_monitor/cmd_vel_mux/twist_mux/cpu
		/frcrobot_jetson/cpu_monitor/cmd_vel_mux/twist_mux/mem
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/cpu_monitor/cpu
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/cpu_monitor/mem
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/dump_offsets_service/cpu
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/dump_offsets_service/mem
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/frcrobot_hw_interface/cpu
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/frcrobot_hw_interface/mem
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/ros_control_controller_manager/cpu
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/ros_control_controller_manager/mem
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/uptime_jetson/cpu
		/frcrobot_jetson/cpu_monitor/frcrobot_jetson/uptime_jetson/mem
		/frcrobot_jetson/cpu_monitor/imu/imu/cpu
		/frcrobot_jetson/cpu_monitor/imu/imu/mem
		/frcrobot_jetson/cpu_monitor/imu/imu_filter/cpu
		/frcrobot_jetson/cpu_monitor/imu/imu_filter/mem
		/frcrobot_jetson/cpu_monitor/imu/imu_zero/cpu
		/frcrobot_jetson/cpu_monitor/imu/imu_zero/mem
		/frcrobot_jetson/cpu_monitor/index/index_server_2022/cpu
		/frcrobot_jetson/cpu_monitor/index/index_server_2022/mem
		/frcrobot_jetson/cpu_monitor/intake/intake_server_2022/cpu
		/frcrobot_jetson/cpu_monitor/intake/intake_server_2022/mem
		/frcrobot_jetson/cpu_monitor/intaking/intaking_server_2022/cpu
		/frcrobot_jetson/cpu_monitor/intaking/intaking_server_2022/mem
		/frcrobot_jetson/cpu_monitor/path_follower/base_trajectory_node/cpu
		/frcrobot_jetson/cpu_monitor/path_follower/base_trajectory_node/mem
		/frcrobot_jetson/cpu_monitor/path_follower/game_piece_path_server/cpu
		/frcrobot_jetson/cpu_monitor/path_follower/game_piece_path_server/mem
		/frcrobot_jetson/cpu_monitor/path_follower/map_server/cpu
		/frcrobot_jetson/cpu_monitor/path_follower/map_server/mem
		/frcrobot_jetson/cpu_monitor/path_follower/orient_pid/cpu
		/frcrobot_jetson/cpu_monitor/path_follower/orient_pid/mem
		/frcrobot_jetson/cpu_monitor/path_follower/path_follower_publish_pid_cmd_vel_node/cpu
		/frcrobot_jetson/cpu_monitor/path_follower/path_follower_publish_pid_cmd_vel_node/mem
		/frcrobot_jetson/cpu_monitor/path_follower/path_follower_server/cpu
		/frcrobot_jetson/cpu_monitor/path_follower/path_follower_server/mem
		/frcrobot_jetson/cpu_monitor/path_follower/x_position_pid/cpu
		/frcrobot_jetson/cpu_monitor/path_follower/x_position_pid/mem
		/frcrobot_jetson/cpu_monitor/path_follower/y_position_pid/cpu
		/frcrobot_jetson/cpu_monitor/path_follower/y_position_pid/mem
		/frcrobot_jetson/cpu_monitor/robot_state/robot_state_publisher/cpu
		/frcrobot_jetson/cpu_monitor/robot_state/robot_state_publisher/mem
		/frcrobot_jetson/cpu_monitor/rosapi/cpu
		/frcrobot_jetson/cpu_monitor/rosapi/mem
		/frcrobot_jetson/cpu_monitor/rosbridge_websocket/cpu
		/frcrobot_jetson/cpu_monitor/rosbridge_websocket/mem
		/frcrobot_jetson/cpu_monitor/rosout/cpu
		/frcrobot_jetson/cpu_monitor/rosout/mem
		/frcrobot_jetson/cpu_monitor/shooter/shooter_server_2022/cpu
		/frcrobot_jetson/cpu_monitor/shooter/shooter_server_2022/mem
		/frcrobot_jetson/cpu_monitor/shooting/shooting_server_2022/cpu
		/frcrobot_jetson/cpu_monitor/shooting/shooting_server_2022/mem
		/frcrobot_jetson/cpu_monitor/swerve_imu_ukf/base_link_to_imu/cpu
		/frcrobot_jetson/cpu_monitor/swerve_imu_ukf/base_link_to_imu/mem
		/frcrobot_jetson/cpu_monitor/teleop/orient_strafing/orient_strafing_node/cpu
		/frcrobot_jetson/cpu_monitor/teleop/orient_strafing/orient_strafing_node/mem
		/frcrobot_jetson/cpu_monitor/teleop/orient_strafing/orient_strafing_pid/cpu
		/frcrobot_jetson/cpu_monitor/teleop/orient_strafing/orient_strafing_pid/mem
		/frcrobot_jetson/cpu_monitor/teleop/teleop_joystick_comp_2022/cpu
		/frcrobot_jetson/cpu_monitor/teleop/teleop_joystick_comp_2022/mem
		/frcrobot_jetson/cpu_monitor/tf_object_detection/tf_object_detection/cpu
		/frcrobot_jetson/cpu_monitor/tf_object_detection/tf_object_detection/mem
		/frcrobot_jetson/cpu_monitor/total_active_mem
		/frcrobot_jetson/cpu_monitor/total_available_mem
		/frcrobot_jetson/cpu_monitor/total_buffers_mem
		/frcrobot_jetson/cpu_monitor/total_cached_mem
		/frcrobot_jetson/cpu_monitor/total_cpu
		/frcrobot_jetson/cpu_monitor/total_free_mem
		/frcrobot_jetson/cpu_monitor/total_inactive_mem
		/frcrobot_jetson/cpu_monitor/total_shared_mem
		/frcrobot_jetson/cpu_monitor/total_used_mem
		/frcrobot_jetson/cpu_monitor/zed_objdetect/cpu
		/frcrobot_jetson/cpu_monitor/zed_objdetect/mem
		/frcrobot_jetson/cpu_monitor/zed_objdetect_state_publisher/cpu
		/frcrobot_jetson/cpu_monitor/zed_objdetect_state_publisher/mem
		/frcrobot_jetson/dynamic_arm_controller/is_zeroed
		/frcrobot_jetson/joint_states
		/frcrobot_jetson/shooter_controller/command
		/frcrobot_jetson/static_hook_solenoid_controller/command
		/frcrobot_jetson/talon_configs
		/frcrobot_jetson/talon_states
		/frcrobot_jetson/uptime
		/frcrobot_rio/button_box_states
		/frcrobot_rio/cpu_monitor/frcrobot_rio/cpu_monitor/cpu
		/frcrobot_rio/cpu_monitor/frcrobot_rio/cpu_monitor/mem
		/frcrobot_rio/cpu_monitor/frcrobot_rio/frcrobot_hw_interface/cpu
		/frcrobot_rio/cpu_monitor/frcrobot_rio/frcrobot_hw_interface/mem
		/frcrobot_rio/cpu_monitor/frcrobot_rio/uptime_rio/cpu
		/frcrobot_rio/cpu_monitor/frcrobot_rio/uptime_rio/mem
		/frcrobot_rio/cpu_monitor/total_active_mem
		/frcrobot_rio/cpu_monitor/total_available_mem
		/frcrobot_rio/cpu_monitor/total_buffers_mem
		/frcrobot_rio/cpu_monitor/total_cached_mem
		/frcrobot_rio/cpu_monitor/total_cpu
		/frcrobot_rio/cpu_monitor/total_free_mem
		/frcrobot_rio/cpu_monitor/total_inactive_mem
		/frcrobot_rio/cpu_monitor/total_shared_mem
		/frcrobot_rio/cpu_monitor/total_used_mem
		/frcrobot_rio/joint_states
		/frcrobot_rio/joystick_states1
		/frcrobot_rio/joystick_states2
		/frcrobot_rio/match_data
		/frcrobot_rio/robot_controller_states
		/frcrobot_rio/uptime
		/hold_distance/hold_position_pid/swerve_drive_controller/cmd_vel
		/hold_position/hold_position_pid/swerve_drive_controller/cmd_vel
		/imu/imu/data
		/imu/imu/data_raw
		/imu/zeroed_imu
		/joint_states
		/robot_state/joint_states
		/rosout
		/rosout_agg
		/shooter_speed_offset
		/teleop/orient_strafing/control_effort
		/teleop/orient_strafing/pid_debug
		/teleop/orient_strafing/pid_enable
		/teleop/orient_strafing/setpoint
		/teleop/orient_strafing/state
		/teleop/swerve_drive_controller/cmd_vel
		/tf
		/tf_static
		/zed_objdetect/imu/data
		/zed_objdetect/imu/data_raw
		/zed_objdetect/imu/mag
		/zed_objdetect/odom
		/zed_objdetect/pose
		"/>
</launch>
