<?xml version="1.0"?>

<launch>

  <node name="rosbag_record_node" pkg="rosbag" type="record"
	  launch-prefix="nice"
	  args="record -o /home/ubuntu/bagfiles/
		/frcrobot_jetson/swerve_drive_controller/odom
        /apriltag_detection/tags
		/tf
		/tf_static
		/zed_objdetect/left/camera_info
		/zed_objdetect/left/image_rect_color
		"/>
</launch>
<!-- 		/zed_objdetect/left_raw/camera_info
			/zed_objdetect/left_raw/image_rect_color

-->
