<?xml version="1.0"?>
<launch>
	<machine name="jetson_2" address="10.9.0.9" env-loader="/home/ubuntu/2018Offseason/zebROS_ws/ROSJetsonMaster.sh" user="ubuntu" password="ubuntu"/>

  <node machine="jetson_2" name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
  <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
  <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
</launch>
