<?xml version="1.0"?>

<launch>
        <param name="zed_description" textfile="$(find zed_wrapper)/urdf/zedm.urdf" />
        <node name="zed_state_publisher" pkg="robot_state_publisher" type="state_publisher">
            <remap from="robot_description" to="zed_description" />
        </node>

        <param name="robot_description" textfile="$(find controller_node)/urdf/2019_compbot.urdf" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

</launch>

