<?xml version="1.0"?>
<launch>

  <arg name="resolution" default="3" />
  <arg name="name" default="c920" />

  <arg name="down_sample" default="False" />
  <arg name="sub_rate" default="2" />
  <arg name="pub_rate" default="1" />
  <arg name="batch" default="false" /> 
  <arg name="no_depth" default="true" /> 

	  <node name="c920_camera" pkg="usb_cam" type="usb_cam_node" output="screen">
		  <param name="video_device" value="/dev/video1"/>
		  <param name="pixel_format" value="yuyv"/>
	  </node>

  <node name="c920_goal_detection_node" pkg="goal_detection" type="goal_detection_node" output= "screen">
  	<param name="down_sample" value="$(arg down_sample)" />
  	<param name="sub_rate" value="$(arg sub_rate)" />
	<param name="pub_rate" value="$(arg pub_rate)" />
	<param name="batch" value="$(arg batch)" />
	<param name="no_depth" value="$(arg no_depth)" />
  </node>

  </launch>


