<?xml version="1.0"?>
<launch>

  <arg name="year" default="2022" />
  <group ns="teleop">
	<rosparam file="$(find teleop_joystick_control)/config/teleop_joystick_comp_$(arg year).yaml" command="load"/>
    <node name="teleop_joystick_comp_$(arg year)" pkg="teleop_joystick_control" type="teleop_joystick_comp_$(arg year)" output="screen"/>

    <group ns="orient_strafing"> <!--TODO Tune these values on a full weight robot -->
      <node name="orient_strafing_pid" pkg="pid" type="controller" >
        <param name="node_name" value="orient_strafing_pid" />
        <param name="Kp" value="3.2" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.011" />
        <param name="upper_limit" value="7.5" />
        <param name="lower_limit" value="-7.5" />
        <param name="windup_limit" value="7.5" />
        <param name="angle_error" value="true" />
      </node>
	  <!-- TODO : orient strafind node requires values from here
			 fix it so that they can be read from the ones in the teleop namespace
	  -->
	  <rosparam file="$(find teleop_joystick_control)/config/teleop_joystick_comp_$(arg year).yaml" command="load"/>
      <node name="orient_strafing_node" pkg="teleop_joystick_control" type="orient_strafing_node" output="screen"/>
    </group>

  </group>

</launch>
