<?xml version="1.0"?>

<launch>
	<group ns="frcrobot_jetson">
		<group ns="teleop">
			<rosparam file="$(find teleop_joystick_control)/config/teleop_joystick_comp.yaml" command="load"/>
			<node name="teleop_joystick_comp" pkg="teleop_joystick_control" type="teleop_joystick_comp" output="screen" >
				<remap from="navx_mxp" to="/frcrobot_rio/navx_mxp"/>
			</node>

			<group ns="translator0">
				<node name="translate_joystick_data_node" pkg="teleop_joystick_control" type="translate_joystick_data_node" output="screen"/>
			</group>

			<group ns="translator1" if="$(eval arg('joy_or_key')=='two_joy')">	
				<node name="translate_joystick_data_node" pkg="teleop_joystick_control" type="translate_joystick_data_node" output="screen" >
					<remap from="/frcrobot_rio/joystick_states_raw" to="/frcrobot_rio/joystick_states_raw1" />
				</node>
			</group>
		</group>
	</group>
</launch>

