<?xml version="1.0"?>
<launch>
    <!--param name="use_sim_time" value="true" /-->
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_zed" args="0.233 0.1635 -1.1785 0 0 0 zed_camera_center base_link" />

	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_panel_outtake" args="-0.1245 0.3016 0 0 0 0 base_link panel_outtake" />
	<!--node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_panel_outtake" args="-0.3200745 -0.3016 .4318 0 0 0 base_link panel_outtake" /-->

	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_c920" args=".24226 -.1682 0 0 0 0 c920_frame base_link" />
	<!-- base link to cargo outtake is the front of the bumper to the center of the robot -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_cargo_outtake" args=".4143 0 .3556 0 0 0 base_link cargo_outtake" />
</launch>

