<?xml version="1.0"?>
<launch>

	<!-- GDB functionality -->
	<arg name="debug" default="false" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	<arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

	<arg name="hw_or_sim" default="hw" />

	<group ns="frcrobot_jetson">
		<!--load config files-->
		<rosparam file="$(find ros_control_boilerplate)/config/robot_code_ready_controller_jetson.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/tune_swerve_jetson.yaml" command="load"/>

		<!--<node name="zero_wheel_service" pkg="talon_swerve_drive_controller" type="zero_wheel_service" output="screen"> </node>-->

		<!-- Load hardware interface -->
		<node name="frcrobot_$(arg hw_or_sim)_interface" pkg="ros_control_boilerplate" type="frcrobot_$(arg hw_or_sim)_main"
			output="screen" launch-prefix="$(arg launch_prefix)">
		</node>

		<!-- Load controller manager -->
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
			output="screen" args="spawn joint_state_controller joint_state_listener_controller talon_state_controller pdp_state_controller fl_angle_motion_magic fr_angle_motion_magic bl_angle_motion_magic br_angle_motion_magic match_state_listener_controller robot_code_ready_controller " /> 

	</group>

	<machine name="roboRIO" address="10.9.0.2" env-loader="/home/admin/2019Offseason/zebROS_ws/ROSJetsonMaster.sh" user="admin" password="admin" default="true"/>
	<group ns="frcrobot_rio">
		<rosparam file="$(find ros_control_boilerplate)/config/tune_swerve_rio.yaml" command="load"/>

		<!-- Load controller settings -->
		<!-- These need to be replaced with the real thing -->
		<rosparam file="$(find ros_control_boilerplate)/config/2018_compbot_base_rio.yaml" command="load"/>
		<rosparam file="$(find ros_control_boilerplate)/config/robot_code_ready_controller_rio.yaml" command="load"/>

		<!-- Load hardware interface -->
		<node name="frcrobot_$(arg hw_or_sim)_interface" pkg="ros_control_boilerplate" type="frcrobot_$(arg hw_or_sim)_main"
			output="screen" launch-prefix="$(arg launch_prefix)">
		</node>

		<!-- Load controller manager -->
		<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
			output="screen" args="spawn joint_state_controller joint_state_listener_controller imu_sensor_controller match_state_controller navx_offset_controller robot_controller_state_controller robot_code_ready_controller" /> 
	</group>
</launch>
