<?xml version="1.0"?>
<launch>
  <arg name="zed_name"        default="zed_objdet" />
  <arg name="zed_node_name"   default="$(arg zed_name)" />
  <arg name="camera_model"    default="zed2" />
  <arg name="cam_pos_x"       default="0.0" />
  <arg name="cam_pos_y"       default="0.0" />
  <arg name="cam_pos_z"       default="0.0" />
  <arg name="cam_roll"        default="0.0" />
	<arg name="cam_pitch"       default="0.0" />
  <arg name="cam_yaw"         default="0.0" />

  <include file="$(find zed_wrapper)/launch/include/zed_camera.launch.xml" >
    <arg name="common_params_file"   value="$(find controller_node)/config/$(arg zed_name)/common.yaml" />
    <arg name="camera_params_file"   value="$(find controller_node)/config/$(arg zed_name)/$(arg camera_model).yaml" />
    <arg name="node_name"            value="$(arg zed_node_name)" />
    <arg name="publish_urdf"         value="true" />
    <arg name="camera_name"          value="$(arg zed_name)" />
    <arg name="camera_model"         value="$(arg camera_model)" />
    <arg name="base_frame"           value="base_link" />
    <arg name="cam_pos_x"            value="$(arg cam_pos_x)" />
    <arg name="cam_pos_y"            value="$(arg cam_pos_y)" />
    <arg name="cam_pos_z"            value="$(arg cam_pos_z)" />
    <arg name="cam_roll"             value="$(arg cam_roll)"  />
    <arg name="cam_pitch"            value="$(arg cam_pitch)" />
    <arg name="cam_yaw"              value="$(arg cam_yaw)"   />
  </include>
</launch>