<?xml version="1.0"?>
<launch>
  <arg name="zed_name"        default="zed_objdetect" />
  <arg name="zed_node_name"   default="zed_objdetect" />
  <arg name="camera_model"    default="zed2" />

  <include file="$(find zed_wrapper)/launch/include/zed_camera.launch.xml" >
    <arg name="common_params_file"   value="$(find controller_node)/config/zed_objdet/common.yaml" />
    <arg name="camera_params_file"   value="$(find controller_node)/config/zed_objdet/$(arg camera_model).yaml" />
    <arg name="node_name"            value="$(arg zed_node_name)" />
    <arg name="publish_urdf"         value="true" />
    <arg name="camera_name"          value="$(arg zed_name)" />
    <arg name="camera_model"         value="$(arg camera_model)" />
    <arg name="base_frame"           value="base_link" />
    <arg name="cam_pos_x"            value="0.0" />
    <arg name="cam_pos_y"            value="0.0" />
    <arg name="cam_pos_z"            value="0.0" />
    <arg name="cam_roll"             value="0.0" />
	<arg name="cam_pitch"            value="0.83" />
    <arg name="cam_yaw"              value="0.0" />
  </include>
</launch>