<launch>
  <arg name="data_dir"/>
  <arg name="config_dir" default="$(find tagslam_launch)/frc900"/>
  
  <arg name="tagslam_config_file" default="$(arg config_dir)/tagslam.yaml"/>
  <arg name="calibration_file" default="$(arg config_dir)/cameras.yaml"/>
  <arg name="camera_poses_file"
       default="/home/ubuntu/2023RobotCode/zebROS_ws/src/tagslam_launch/y2023/camera_poses.yaml"/>
  <arg name="run_online" default="false"/>
  <arg name="bag"/>
  <arg name="max_number_of_frames" default="1000000"/>
  <arg name="start_time" default="0.0"/>
  <arg name="has_compressed_images" default="false"/>

  <node pkg="tagslam" type="tagslam_node" name="tagslam" clear_params="true"
	output="screen">
    <rosparam param="cameras" command="load" file="$(arg calibration_file)"/>
    <rosparam param="tagslam_config" command="load"
	      file="$(arg tagslam_config_file)"/>
    <rosparam param="camera_poses" command="load"
	      file="$(arg camera_poses_file)"/>
    <param name="bag_start_time" value="$(arg start_time)"/>
    <param name="bag_file" value="$(arg bag)" unless="$(arg run_online)"/>
    <param name="has_compressed_images" value="false"/>
    <param name="playback_rate" value="10.0"/>
    <param name="max_number_of_frames" value="$(arg max_number_of_frames)"/>
  </node>

  <!-- to visualize both wheeled and tagslam trajectories, bolt the odometry to the map
  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0.0 0 frc_robot body_link 100"/>
   -->
  <!-- to see how the robot would move around with tagslam + odom, connect the two frames at the robot -->

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_frc_robot" args="0 0 0 0 0.0 0 frc_robot body_link 100"/>
 
</launch>
