<launch>

  <arg name="model" default="'$(find frcrobot_description)/urdf/2024_field.urdf'"/>
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find tagslam_launch)/rviz/tagslam_wfield.rviz"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <node name="fake_sensors_node" pkg="fake_sensors" type="talon_state_republisher" output="screen"/>
  
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    <param name="source_list" value="talon_joint_states" />
  </node>
  
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="joint_states" to="talon_joint_states" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
	<!-- <node pkg="tf" type="static_transform_publisher" name="link_basetomap" args="0 0 0 0 0 0 1 map base_link 10" /> -->
  <include file="$(find tagslam_viz)/launch/visualize_tags.launch">
    <arg name="tag_id_file" value="/home/ubuntu/.2023RobotCode.readonly/zebROS_ws/src/tagslam_launch/frc900/tagslam.yaml" />
  </include>


</launch>
