noise_delta_t: 10.0
map_frame_id: 'map'
#odom_frame_id: 'odom'
odom_frame_id: 'zed_objdet_odom'
field_dims:
  x_min: 0.0
  x_max: 16.458
  y_min: 0.0
  y_max: 8.228

init_dims:
  x_min: 0.0
  x_max: 16.458
  y_min: 0.0
  y_max: 8.228

num_particles: 200

noise_stdev:
  position: 0.025
  rotation: 0.005

rotation_threshold: 0.25

camera_sigmas: [ 1.000, 1.000 ]

# Found from https://docs.google.com/document/d/1-2Ebfz2yhGaKKjmjrVtmT4BOiicFtyhzod6RbWLc5N0/view#
# "tagID" in family Tag36h11
beacons:
  #  center of field is (8.229,4.114) from blue bottom left terminal (also where these cords are relative to)
   # top right from this 0,0 (16.458, 8.228)
  - [-0.004, 7.579, "0"]
  - [3.233, 5.487, "1"]
  - [3.068 , 5.331, "2"]
  - [0.004, 5.059, "3"]
  - [0.004, 3.512, "4"]
  - [0.121, 1.718, "5"]
  - [0.873, 0.941, "6"]
  - [1.615, 0.157, "7"]
  - [16.463 , 0.651, "10"]
  - [13.235, 2.743, "11"]
  - [13.391, 2.90, "12"]
  - [16.455, 3.176, "13"]
  - [16.455, 4.717, "14"]
  - [16.335, 6.515, "15"]
  - [15.59, 7.293, "16"]
  - [14.847, 8.069, "17"]
  - [7.874 , 4.913, "40"]
  - [7.431, 3.759, "41"]
  - [8.585 , 3.316, "42"]
  - [9.028 , 4.47, "43"]
  - [7.679 , 4.326, "50"]
  - [8.018, 3.564, "51"]
  - [8.78 , 3.903, "52"]
  - [8.441 , 4.665, "53"]
